In [ ]:
#variable1_10

In [47]:
v = 110

In [48]:
print(v)

110

In [49]:
v-10

100

In [50]:
Y=101+111+108+128+150+180+120
Y

898

In [51]:
z = Y * 3
z

2694

In [52]:
Y/3

299.3333333333333

In [53]:
Y

898

In [54]:
z

2694

# Arithmetic Operators

In [ ]:
#,+,*,-,/,%,//,**

# Q.1 assign two variable naming age ,weight.operate the arithmentic operation?

In [ ]:
#program

In [ ]:
#Q.1 assign two variable naming age ,weight,weight1.operate the arithmentic operation?
#Q.2 assign two variable naming age ,weight,weight1.operate the logical operation?
#(AND,OR,Not)

In [55]:
age = 20
weight = 50
weight1 = 50

In [56]:
add = age + weight
sub = age - weight
mul = age * weight
div = age / weight
power = age ** weight
flor = age // weight
mod = age % weight
print(add)
print(sub)
print(mul)
print(div)
print(power)
print(flor)
print(mod)

70
-30
1000
0.4
112589990684262400000000000000000000000000000000000000000000000000
0
20

In [ ]:
#2 ans

In [57]:
# and 

age and weight

50

In [58]:
#OR
age or weight

20

In [59]:
weight and weight1

50

In [60]:
age, weight

(20, 50)

In [61]:
age == 20 and weight == 50

True

In [62]:
age == 20 and weight != 50

False

In [63]:
age == 20 or weight != 50

True

In [64]:
not age == 20

False

In [65]:
age == 20 or weight == 50

True

# Comparision Operation

==,!=<,<=,>,>=[output is in bool]

# Membaership Operators

In [ ]:
#is ,is not,in ,not in

In [66]:
xyz = [21,22,0,24,26,5,10,15,18,19]
type(xyz)

list

In [67]:
list is type(xyz)

True

In [68]:
list is not type (xyz)

False

In [69]:
80 in xyz

False

In [70]:
80 not in xyz

True

# Assignment operators

In [ ]:
#=,+=,-=,*=,**=,/=,//=,%=

In [71]:
age

20

In [72]:
age += 20

In [73]:
age

40

In [74]:
age -= 10

In [75]:
age

30

In [76]:
age *= 2

In [77]:
age

60

In [78]:
#we can right in this formate to get direct answer 

age /= 2
age

30.0

# String Manupulatio

In [2]:
#defination of data Science 
data_science = '''data science is the study of data to extract meaningful \tinsights for business. 
             It is a multidisciplinary approach that combines principles and practices from
             the fields of mathematics, statistics, \tartificial intelligence, and computer 
             engineering to analyze \tlarge amounts of data.'''

In [3]:
print(data_science)

data science is the study of data to extract meaningful 	insights for business.
             It is a multidisciplinary approach that combines principles and practices from
             the fields of mathematics, statistics, 	artificial intelligence, and computer
             engineering to analyze 	large amounts of data.

In [4]:
type(data_science)

str

In [6]:
data_science.capitalize()

'Data science is the study of data to extract meaningful \tinsights for business. \n             it is a multidisciplinary approach that combines principles and practices from\n             the fields of mathematics, statistics, \tartificial intelligence, and computer \n             engineering to analyze \tlarge amounts of data.'

# variables

In [7]:
data_science.casefold()

'data science is the study of data to extract meaningful \tinsights for business. \n             it is a multidisciplinary approach that combines principles and practices from\n             the fields of mathematics, statistics, \tartificial intelligence, and computer \n             engineering to analyze \tlarge amounts of data.'

In [8]:
data_science.center(5,'#')

'data science is the study of data to extract meaningful \tinsights for business. \n             It is a multidisciplinary approach that combines principles and practices from\n             the fields of mathematics, statistics, \tartificial intelligence, and computer \n             engineering to analyze \tlarge amounts of data.'

In [9]:
en = data_science.encode(encoding='ASCII', errors='strict')

In [10]:
en

b'data science is the study of data to extract meaningful \tinsights for business. \n             It is a multidisciplinary approach that combines principles and practices from\n             the fields of mathematics, statistics, \tartificial intelligence, and computer \n             engineering to analyze \tlarge amounts of data.'

In [11]:
data_science.endswith('a')

False

In [12]:
data_science.endswith('.')

True

In [13]:
data_science.startswith('d')

True

In [14]:
data_science.expandtabs(tabsize=15)

'data science is the study of data to extract meaningful     insights for business. \n             It is a multidisciplinary approach that combines principles and practices from\n             the fields of mathematics, statistics,         artificial intelligence, and computer \n             engineering to analyze          large amounts of data.'

In [15]:
len(data_science)

324

In [16]:
data_science.find('c')

6

In [17]:
data_science.index('large')

302

In [18]:
data_science.ljust(10,'/')

'data science is the study of data to extract meaningful \tinsights for business. \n             It is a multidisciplinary approach that combines principles and practices from\n             the fields of mathematics, statistics, \tartificial intelligence, and computer \n             engineering to analyze \tlarge amounts of data.'

In [19]:
tt= data_science.split()

In [20]:
print(tt)

['data', 'science', 'is', 'the', 'study', 'of', 'data', 'to', 'extract', 'meaningful', 'insights', 'for', 'business.', 'It', 'is', 'a', 'multidisciplinary', 'approach', 'that', 'combines', 'principles', 'and', 'practices', 'from', 'the', 'fields', 'of', 'mathematics,', 'statistics,', 'artificial', 'intelligence,', 'and', 'computer', 'engineering', 'to', 'analyze', 'large', 'amounts', 'of', 'data.']

In [21]:
data_science.replace('data','Excelr')

'Excelr science is the study of Excelr to extract meaningful \tinsights for business. \n             It is a multidisciplinary approach that combines principles and practices from\n             the fields of mathematics, statistics, \tartificial intelligence, and computer \n             engineering to analyze \tlarge amounts of Excelr.'

In [22]:
ff = data_science.swapcase()

In [23]:
ff.swapcase()

'data science is the study of data to extract meaningful \tinsights for business. \n             It is a multidisciplinary approach that combines principles and practices from\n             the fields of mathematics, statistics, \tartificial intelligence, and computer \n             engineering to analyze \tlarge amounts of data.'

In [24]:
data_science='10'

In [25]:
type(data_science)

str

In [26]:
dt1=int(data_science)
print('converted to string',dt1,type(dt1))

converted to string 10 <class 'int'>

# task1: create a two variable,marks1 in floating and marks2 in string type,sub

In [27]:
mark1= 60.8

In [28]:
type(mark1)

float

In [29]:
mark2=('number is 10')

In [30]:
type(mark2)

str

In [31]:
age =56.0
type(int(age))

int

In [33]:
weight = 'data' *  2
weight

'datadata'

In [ ]:
#formatin--> {},%,.format()

In [34]:
age,weight

(56.0, 'datadata')

# String Connection

In [35]:
statment1 = 'my ds class is at 9.30'
statment2 = 'the strength is on average 50'

In [36]:
statment1 + statment2

'my ds class is at 9.30the strength is on average 50'

In [37]:
statment1 + '**/** ' + statment2

'my ds class is at 9.30**/** the strength is on average 50'

In [38]:
len(statment1)

22

In [39]:
len(statment1[0:10])

10

In [40]:
len(statment2)

29

task 2: create a three variable and use input() to get the value/statment of variable ,to calculate/check which string has greater length

In [ ]:
#.format(), f'' ,input(),len()

# List

In [ ]:
#list create[],it can int, float,str,time,--> all type of data type.

In [41]:
List = [10,11,12,13,14,15,16,17,18,16]

In [42]:
List[0]

10

In [43]:
type(List[0])

int

In [44]:
type(List[0:5])

list

In [48]:
List[4:],List[-4:]

([14, 15, 16, 17, 18, 16], [16, 17, 18, 16])

In [45]:
List[-1:]

[16]

In [46]:
type(List[0])

int

In [47]:
List[::]

[10, 11, 12, 13, 14, 15, 16, 17, 18, 16]

In [50]:
L2 = [56,'name' ,1J+2, 6.0,True,False]

In [51]:
L2

[56, 'name', (2+1j), 6.0, True, False]

In [52]:
type(L2[1])

str

In [53]:
type(L2[2])

complex

In [54]:
type(L2[3])

float

In [56]:
L2[1] = 'excelr' # we can change any value using this formate from L2

In [58]:
L2

[56, 'excelr', (2+1j), 6.0, True, False]

In [61]:
L2[2] = 4+5j

In [60]:
L2[2]

(4+5j)

In [62]:
L2

[56, 'excelr', (4+5j), 6.0, True, False]

In [ ]:
##data structure 
##1 string
##2 List
##3 Set

In [2]:
L1 = [10,11,12,13,14,15,16,17,18,16]
L2 = [10,11,12,16,17,18,16]
L3 = [56, 10,'excelr', (4+5j), 6.0, True, False]

In [3]:
print(type(L1))
print(type(L2))
print(type(L3))

<class 'list'>
<class 'list'>
<class 'list'>

In [65]:
L1[0::2]

[10, 12, 14, 16, 18]

In [66]:
L1[-3::3]

[17]

In [ ]:
#[start : end : step]

In [67]:
L1 + L2

[10, 11, 12, 13, 14, 15, 16, 17, 18, 16, 10, 11, 12, 16, 17, 18, 16]

In [68]:
L1 + L3

[10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 16,
 56,
 10,
 'excelr',
 (4+5j),
 6.0,
 True,
 False]

In [69]:
L1

[10, 11, 12, 13, 14, 15, 16, 17, 18, 16]

In [70]:
L1 * 2

[10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 16,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 16]

In [71]:
print(L1[0]/3)

3.3333333333333335

In [72]:
L1 ,L2

([10, 11, 12, 13, 14, 15, 16, 17, 18, 16], [10, 11, 12, 16, 17, 18, 16])

In [74]:
L1[7] = L2

In [75]:
L1

[10, 11, 12, 13, 14, 15, 16, [10, 11, 12, 16, 17, 18, 16], 18, 16]

In [76]:
L1[7].append(18)

In [77]:
L1

[10, 11, 12, 13, 14, 15, 16, [10, 11, 12, 16, 17, 18, 16, 18], 18, 16]

In [78]:
L4 = L1.copy()

In [79]:
L4

[10, 11, 12, 13, 14, 15, 16, [10, 11, 12, 16, 17, 18, 16, 18], 18, 16]

In [80]:
L3

[56, 10, 'excelr', (4+5j), 6.0, True, False]

In [81]:
L1.count(15)

1

In [82]:
L3

[56, 10, 'excelr', (4+5j), 6.0, True, False]

In [83]:
L1.count(19)

0

In [84]:
L2

[10, 11, 12, 16, 17, 18, 16, 18]

In [85]:
L3.extend(L2)

In [86]:
L3

[56, 10, 'excelr', (4+5j), 6.0, True, False, 10, 11, 12, 16, 17, 18, 16, 18]

In [87]:
len(L3)

15

In [88]:
L2.index(18)

5

In [89]:
L2.insert(2,20) #fisrt is nth value where we want to add the nuumber and second number is number which we want to add

In [90]:
L2

[10, 11, 20, 12, 16, 17, 18, 16, 18]

In [91]:
L2.pop() #remove the last number

18

In [92]:
L2

[10, 11, 20, 12, 16, 17, 18, 16]

In [93]:
L2.remove(11)

In [94]:
L2

[10, 20, 12, 16, 17, 18, 16]

In [95]:
L2.reverse()

In [96]:
L2

[16, 18, 17, 16, 12, 20, 10]

In [97]:
L3.remove(10)

In [98]:
L3

[56, 'excelr', (4+5j), 6.0, True, False, 10, 11, 12, 16, 17, 18, 16, 18]

In [99]:
L2.sort(reverse=True)

In [100]:
L2

[20, 18, 17, 16, 16, 12, 10]

##### L1,L2,L3

In [4]:
L1.clear()

In [5]:
L1

[]

In [6]:
L2.append([10,11,15,18,19])

In [7]:
L2

[10, 11, 12, 16, 17, 18, 16, [10, 11, 15, 18, 19]]

In [13]:
L2[0] = 15

L2

In [14]:
L2

[15, 11, 12, 16, 17, 18, 16, [15, 11, 15, 18, 19]]

In [121]:
L6 =  [[10,15,14,[5,4,6]],[12,17,18],[13,18,19]]

In [122]:
L6[1][1]

17

In [126]:
L6[0][3][1]

4

In [127]:
L7 = [[[10,0,0],[5,4,6]],[12,17,18],[13,18,19]]

In [128]:
L7[0][0][2],L7[2][1]

(0, 18)

In [ ]:
L7[0][0][2]=20

In [ ]:
L7[2][1]=5

In [ ]:
L7

In [ ]:
#task2: create

In [2]:
age=[10,20,15,19,26]

In [3]:
age

[10, 20, 15, 19, 26]

In [4]:
age.sort()
maximum_age = age[-1]
minimum_age = age[0]

In [5]:
print(age)
print(maximum_age)
print(minimum_age)

[10, 15, 19, 20, 26]
26
10

# Tuple

In [ ]:
#Tuple-->,without braces,immutable.

In [ ]:
T1 = 10,'Excelr',10j+1

In [ ]:
type(T1)

In [ ]:
T2 =(10,14,15,'hi',10j+1)

In [ ]:
type(T2)

In [ ]:
T2.index(14)

In [ ]:
T3=('one',2,'three',4)

In [ ]:
T3

In [ ]:
T1 + T2

In [ ]:
T3 =list (T1)

In [ ]:
type(T3)

In [ ]:
T3[0] = 20

In [ ]:
T4 =tuple(T3)

In [ ]:
type(T4),T4

# SET

In [1]:

#it can be created {},set()

In [2]:
S1 = {101,102,105,108,110,99,88,110,101}

In [3]:
S1

{88, 99, 101, 102, 105, 108, 110}

In [4]:
type(S1)

set

In [5]:
s2= {201,202,205,208,210,99,88,101}
s2

{88, 99, 101, 201, 202, 205, 208, 210}

In [6]:
s2.add(201)
s2

{88, 99, 101, 201, 202, 205, 208, 210}

In [7]:
s2.add(211)
s2

{88, 99, 101, 201, 202, 205, 208, 210, 211}

In [8]:
s3 = S1.copy()

In [9]:
s3

{88, 99, 101, 102, 105, 108, 110}

In [10]:
S1.difference(s2)

{102, 105, 108, 110}

In [11]:
s4=S1

In [12]:
s4

{88, 99, 101, 102, 105, 108, 110}

In [13]:
S1.difference_update(s2)

In [14]:
S1

{102, 105, 108, 110}

In [15]:
S1.intersection(s2)

set()

In [16]:
S1.discard(s2)

In [17]:
S1

{102, 105, 108, 110}

In [18]:
s2.issuperset(s3)

False

In [19]:
s2.pop()

99

In [20]:
S1.symmetric_difference(s2)

{88, 101, 102, 105, 108, 110, 201, 202, 205, 208, 210, 211}

In [21]:
S1,s2

({102, 105, 108, 110}, {88, 101, 201, 202, 205, 208, 210, 211})

In [22]:
S1.symmetric_difference_update(s2)

In [23]:
S1,s2

({88, 101, 102, 105, 108, 110, 201, 202, 205, 208, 210, 211},
 {88, 101, 201, 202, 205, 208, 210, 211})

In [24]:
S1.union()

{88, 101, 102, 105, 108, 110, 201, 202, 205, 208, 210, 211}

# Dictionary

In [25]:
#slicing : no
#access : no using index
#{key:value
#key1:value}

In [31]:
dict1={1:'s1',
     2:'s2',
     3:'s3',
     4:'s4'
     }

In [32]:
type(dict1)

dict

In [33]:
dict1.get(2)

's2'

In [34]:
dict1.items()

dict_items([(1, 's1'), (2, 's2'), (3, 's3'), (4, 's4')])

In [36]:
dict1.keys()

dict_keys([1, 2, 3, 4])

In [37]:
dict1.values()

dict_values(['s1', 's2', 's3', 's4'])

In [38]:
dict1.pop(2)

's2'

In [39]:
dict1

{1: 's1', 3: 's3', 4: 's4'}

In [41]:
dict2={1:'d1',2:'d2',3:'d3',4:'d4'}

In [42]:
dict2

{1: 'd1', 2: 'd2', 3: 'd3', 4: 'd4'}

In [84]:
dict3=dict1.fromkeys(dict2)

In [85]:
dict1

{1: 's1', 3: 's3', 2: 's2'}

In [86]:
dict1.popitem()

(2, 's2')

In [88]:
dict1.update({2:'s2'})
dict1

{1: 's1', 3: 's3', 2: 's2'}

In [89]:
dict3

{1: None, 2: None, 3: None, 4: None}

In [104]:
dict3[1]='g3'
dict3

{1: 'g3', 2: None, 3: None, 4: None}

In [2]:
student_info={'st_id':[1,2,3,4],
              'name:':['kavita','Rafy','anzil','ashwin'],
              'marks':[60,80,70,90]}

In [3]:
student_info

{'st_id': [1, 2, 3, 4],
 'name:': ['kavita', 'Rafy', 'anzil', 'ashwin'],
 'marks': [60, 80, 70, 90]}

In [4]:
student_info['marks']

[60, 80, 70, 90]

In [5]:
student_info['st_id']

[1, 2, 3, 4]

In [6]:
student_info['name:']

['kavita', 'Rafy', 'anzil', 'ashwin']

In [10]:
'anzil' in student_info ['name:']

True

In [11]:
type(student_info['name:'])

list

In [13]:
st_avg_marks=sum(student_info['marks'])/len(student_info['marks'])
st_avg_marks

75.0

In [15]:
student_info['name:'] = ['kavita', 'Rafy', 'anzil', 'ashwin','praju']

In [16]:
student_info.keys()

dict_keys(['st_id', 'name:', 'marks'])

In [17]:
student_info

{'st_id': [1, 2, 3, 4],
 'name:': ['kavita', 'Rafy', 'anzil', 'ashwin', 'praju'],
 'marks': [60, 80, 70, 90]}

In [1]:
student_details=[{'name':'sam',
                 'age':25,
                 'sub':['s1','s2','s3','s4','s5','s6'],
                 'marks':[60,40,50,80,90]},
                 {'name':'pam',
                 'age':25,
                 'sub':['s1','s2','s3','s4','s5','s6'],
                 'marks':[60,40,50,80,90]},
                 {'name':'anzil',
                 'age':22,
                 'sub':['s1','s2','s3','s4','s5','s6'],
                 'marks':[60,90,40,80,90]},
                 {'name':'Aswin',
                 'age':24,
                 'sub':['s1','s2','s3','s4','s5','s6'],
                 'marks':[70,40,80,80,90]},
                 {'name':'Rafi',
                 'age':25,
                 'sub':['s1','s2','s3','s4','s5','s6'],
                 'marks':[70,40,80,80,90]},
                 {'name':'kavita',
                 'age':23,
                 'sub':['s1','s2','s3','s4','s5','s6'],
                 'marks':[60,50,50,90,40]},
                 {'name':'xyz',
                 'age':27,
                 'sub':['s1','s2','s3','s4','s5','s6'],
                 'marks':[60,40,50,80,90]},
                 {'name':'rutuja',
                 'age':21,
                 'sub':['s1','s2','s3','s4','s5','s6'],
                 'marks':[60,80,50,50,90]},
                 {'name':'yz',
                 'age':24,
                 'sub':['s1','s2','s3','s4','s5','s6'],
                 'marks':[60,40,50,80,90]},
                 {'name':'ram',
                 'age':25,
                 'sub':['s1','s2','s3','s4','s5','s6'],
                 'marks':[60,50,50,60,90]},
                ]

In [2]:
type(student_details)

list

In [17]:
st1_avg_marks=sum(student_details[0]['marks'])/len(student_details[0]['marks'])
st1_avg_marks

64.0

In [134]:
student_details[0]['name'],student_details[0]['marks']
#task 3: calculate the average the marks.
    #average marks = sum(marks)/number of marks.

('sam', [60, 40, 50, 80, 90])

In [135]:
student_details[1]['name'],student_details[1]['marks']

('pam', [60, 40, 50, 80, 90])

In [136]:
student_details[2]['name'],student_details[2]['marks']

('anzil', [60, 90, 40, 80, 90])

In [137]:
student_details[3]['name'],student_details[3]['marks'],student_details[3]['age']

('Aswin', [70, 40, 80, 80, 90], 24)

In [139]:
student_details[4]['name'],student_details[4]['marks'],student_details[4]['age']

('Rafi', [70, 40, 80, 80, 90], 25)

In [140]:
student_details[5]['name'],student_details[5]['marks'],student_details[5]['age']

('kavita', [60, 50, 50, 90, 40], 23)

In [141]:
student_details[6]['name'],student_details[6]['marks'],student_details[6]['age']

('xyz', [60, 40, 50, 80, 90], 27)

In [142]:
student_details[7]['name'],student_details[7]['marks'],student_details[7]['age']

('rutuja', [60, 80, 50, 50, 90], 21)

In [143]:
student_details[8]['name'],student_details[8]['marks'],student_details[8]['age']

('yz', [60, 40, 50, 80, 90], 24)

In [146]:
student_details[9]['name'],student_details[9]['marks'],student_details[9]['age']

('ram', [60, 50, 50, 60, 90], 25)

In [47]:
st1_avg_marks=sum(student_details[1]['marks'])/len(student_details[1]['marks'])
st1_avg_marks

64.0

In [49]:
st2_avg_marks=sum(student_details[2]['marks'])/len(student_details[2]['marks'])
st2_avg_marks

72.0

In [50]:
st3_avg_marks=sum(student_details[3]['marks'])/len(student_details[3]['marks'])
st3_avg_marks

72.0

In [46]:
st4_avg_marks=sum(student_details[4]['marks'])/len(student_details[4]['marks'])
st4_avg_marks

72.0

In [45]:
st5_avg_marks=sum(student_details[5]['marks'])/len(student_details[5]['marks'])
st5_avg_marks

58.0

In [44]:
st6_avg_marks=sum(student_details[6]['marks'])/len(student_details[6]['marks'])
st6_avg_marks

64.0

In [43]:
st7_avg_marks=sum(student_details[7]['marks'])/len(student_details[7]['marks'])
st7_avg_marks

66.0

In [42]:
st8_avg_marks=sum(student_details[8]['marks'])/len(student_details[8]['marks'])
st8_avg_marks

64.0

In [41]:
st9_avg_marks=sum(student_details[9]['marks'])/len(student_details[9]['marks'])
st9_avg_marks

62.0

# Conditional Statments:
IF,
IF else,
If...elif...else,
ternary operator(value if true if condition else value is false)

In [142]:
#ask : 
#Q1: Check the users age is eligible for voting are not?
#Q2: Give the fair price of given age of user eg: 
    #if age is 5 price wil be 10, 
    #if age is 6-15 price will be 15,
    #greater than 15 will have 20 price.
#Q3: Create a marksheet with grades of marks./n
    90+ -- A grade
    70+ -- B grade
    50+ -- C grade
    30+ -- D grade
    >30 -- fail.

IndentationError: unexpected indent (2716689978.py, line 8)

In [4]:
#if
a=10
b=20
if b>a:
    print('b is bigger than a')

b is bigger than a

In [21]:
b<a

False

In [22]:
b==a

False

In [23]:
b!=a

True

In [8]:
student_details[0]['marks']

[60, 40, 50, 80, 90]

In [34]:
#if the statement is true it gets print 
if 80 in student_details[0]['marks']:
    print('80 is present in my stundent marks list')

80 is present in my stundent marks list

In [36]:
#if the statement is false it it does not gets print you will get new line
if 70 in student_details[0]['marks']:
    print('80 is present in my stundent marks list')

In [55]:
if st1_avg_marks >= 60:
    print('a grade')

a grade

In [4]:
#===,!=,>=,<=,><
#and,or,not

# if and else statement

In [8]:
if a!= 10:
    a= a+10
else:
        print('the above statement is false')

the above statement is false

In [11]:
if a == 10:
    a = a+10
else:
        print('the above statement is false')

In [12]:
a

20

In [14]:
type(student_details[0]['marks']) == list

True

In [22]:
if type(student_details[0]['marks']) == list:
    st1_avg_marks = sum(student_details[0]['marks'])/len(student_details[0]['marks'])
    
    print(f'the average marks of 1st student is {st1_avg_marks}')
else:
          print('the given data is is not th type of list')

the average marks of 1st student is 64.0

In [23]:
if type(student_details[0]['marks']) == tuple:
    st1_avg_marks = sum(student_details[0]['marks'])/len(student_details[0]['marks'])
    
    print(f'the average marks of 1st student is {st1_avg_marks}')
else:
          print('the given data is is not th type of tuple')

the given data is is not th type of tuple

In [39]:
 #Q1: Check the users age is eligible for voting are not?

In [31]:
 A=18

In [32]:
A

18

In [11]:
if A == 18:
   print('boy is eligible for voting')

boy is eligible for voting

In [12]:
if A != 18:
    print('boy is not eligible for voting')

In [30]:
A

NameError: name 'A' is not defined

In [14]:
if A == 9:
    print ('boy is eligible for voting ')

In [15]:
if a == 8:
    print('1st statment is true')
elif b == 20:
    print('the second statement is true')
elif a == 20:
    print('a is equal to 10 only')
else:
    print('statement is false ')

the second statement is true

In [ ]:
#Q2: Give the fair price of given age of user eg: 
    #if age is 5 price wil be 10, 
    #if age is 6-15 price will be 15,
    #greater than 15 will have 20 price.

In [16]:
age= int(input("Enter your Age : "))

if age>0 and age <= 5:
    print("prise is 10")
elif age>5 and age<=15:
    print("prise is 15")
elif age>15:
    print("prise is 20")
else:
    print("price not valid for this age ")

Enter your Age : 10
prise is 15

In [ ]:
#Q3: Create a marksheet with grades of marks./n
    90+ -- A grade
    70+ -- B grade
    50+ -- C grade
    30+ -- D grade
    >30 -- fail.

In [52]:
k = int(input('enter the number:'))
if k%2 == 0:
   print('the given number is even')
else:  
    print('the given number is odd')

enter the number:5
the given number is odd

In [7]:
marks=[90,45,78,24,90]
avg=sum(marks)/len(marks)
print(avg)
if avg>=90:
    print('a grade')
elif avg<90 and avg >= 70:
    print('b grade')
elif avg<70 and avg >= 50:
    print('c grade')
elif avg<30 and avg >= 50:
    print('c grade')
else:
    print(fail)

65.4
c grade

In [9]:
k=int(input('enter the number '))

enter the number 10

In [11]:
if k%2 == 0:
    print('the given number is even')
else:
    print('the number is odd')

the given number is even

In [13]:
j= list(input('enter the number '))

enter the number 10,20,30,40,50

In [16]:
type(j)

list

In [24]:
age=int(input('enter the age '))#i want number of ages and in that i want check which eligble age for voting and which is not 
 
if age>=18:
    print('person is eligible for voting')
else:
    print('person is not eligible for voting ')

enter the age 18
person is eligible for voting

# ternory operator

In [37]:
B=20

A,B

(18, 20)

In [ ]:
price =

In [27]:
#if we want to write in single line 

price2='the age is > 15' if int(input('enter the ')) > 15 else 20

price2

enter the 16

'the age is > 15'

# looping Statement

For, while

In [39]:
marks

[90, 45, 78, 24, 90]

In [44]:
marks[0]=marks[0]*2 #this is long form
marks[1]=marks[1]*2
marks[2]=marks[2]*2
marks[3]=marks[3]*2
marks[4]=marks[4]*2
marks

[720, 180, 156, 48, 180]

In [45]:
range(10)

range(0, 10)

[start, end, stop]

In [47]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [48]:
for i in range(10):
    print(i+1)

1
2
3
4
5
6
7
8
9
10

In [52]:
for i in range(5): #2 ka table 
    print(i*2)

0
2
4
6
8

In [53]:
i

4

In [55]:
for i in range(5,20):
  
        print(i)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [56]:
for i in range(5,20):
    if i==6:
        print(i)

6

In [58]:
for i in range(5,20):
    if i==6:
        break
    print(i)

5

In [62]:
for i in range(5,11):
    if i==7:
        continue
    print(i)

5
6
8
9
10

In [63]:
for i in range(1,11):
    if i== 5:
        pass
    print(i)

1
2
3
4
5
6
7
8
9
10

In [66]:
student_marks=[{'name':'sam',
               'age':25,
               'subject':['maths','science','cs','statistics','physics','bio'],
               'marks':[60,70,80,90,70,60]
              },
              {'name':'fam',
               'age':25,
               'subject':['maths','science','cs','statistics','physics','bio'],
               'marks':[60,70,80,80,70,60]
              },
              {'name':'kavita',
               'age':25,
               'subject':['maths','science','cs','statistics','physics','bio'],
               'marks':[60,50,80,90,70,60]
              }]

In [67]:
len(student_marks)

3

In [69]:
avg= round(sum(student_marks[0]['marks'])/len(student_marks[0]['marks']),2)
avg

71.67

In [72]:
for i in range(len(student_marks)):
    avg= round(sum(student_marks[i]['marks'])/len(student_marks[i]['marks']),2)
    print(avg)

71.67
70.0
68.33

In [76]:
for i in range(len(student_marks)):
    avg= round(sum(student_marks[i]['marks'])/len(student_marks[i]['marks']),2)
    print('name {} avg {}'.format(student_marks[i]['name'], avg))

name sam avg 71.67
name fam avg 70.0
name kavita avg 68.33

In [86]:
for i in range(len(student_marks)):
    avg= round(sum(student_marks[i]['marks'])/len(student_marks[i]['marks']),2)
    print('name {} avg {}'.format(student_marks[i]['name'], avg))
    
    if avg>=90:
        print('a grade')
    elif avg<90 and avg >= 70:
        print('b grade')
    elif avg<70 and avg >= 50:
        print('c grade')
    elif avg<30 and avg >= 50:
        print('c grade')
    else:
        print(fail)

name sam avg 71.67
b grade
name fam avg 70.0
b grade
name kavita avg 68.33
c grade

In [87]:
import statistics
statistics.mean(student_marks[0]['marks'])

71.66666666666667

# incremente of value +=(increment),-=(dicrement),*=(multiplication),/=(division)

In [88]:
for i in range(1,6):
    print(i+1)

2
3
4
5
6

In [89]:
for i in range(1,6):
    i+=1  #------> i=i+1
    print(i)

2
3
4
5
6

In [94]:
#decrementatio
for i in range(1,10):
    i-=1
    print(i+1)

1
2
3
4
5
6
7
8
9

In [1]:
#multiply
for i in range(1,11):
    i*=2
    print(i)

2
4
6
8
10
12
14
16
18
20

In [2]:
# division
for i in range(1,10):
    i/=2
    print(i)

0.5
1.0
1.5
2.0
2.5
3.0
3.5
4.0
4.5

In [6]:
n = int(input('given number table : '))
for i in range (1,11):
    i *= n
    print(i)

given number table : 5
5
10
15
20
25
30
35
40
45
50

In [10]:
#sum of integres
sum1=[0,1,2,3,4,5,]
sum2=0
for k in sum1:
    sum2 += k
print(sum2)

15

In [11]:
#sum of integres
sum1=[0,1,2,3,4,5,]
sum2=0
for k in sum1:
    sum2 += k
    print(sum2)

0
1
3
6
10
15

In [14]:
sum1 = 1
for k in range(1,5):
    sum1 *= k
    print(sum1)

1
2
6
24

In [17]:
#product of the values

v=[2,4,5,6]
u= 1
for k in v:
    u *= k
    print(u)

2
8
40
240

In [22]:
#nested for loop 

i = 5
j = 2
for k in range(5):
    print('*',end =' ')
    for l in range(2):
        print(l,end=' ')

* 0 1 * 0 1 * 0 1 * 0 1 * 0 1

In [23]:
i = 5
j = 2
for k in range(5):
    print('*',end =' ')
    for l in range(2):
        print(l,end=' ')
        print()

* 0
1
* 0
1
* 0
1
* 0
1
* 0
1

In [27]:
i = 5
j = 2
for k in range(5):
    print('*',end =' ')
    for l in range(2):
        print(l,end=' ')
    print()

* 0 1
* 0 1
* 0 1
* 0 1
* 0 1

In [35]:
k=[0,1,5,6,7]
i=['s1','s2','s3','s4']
m=0
for j in k:
    if 's1' in i:
        print(j,'s1 is present in k list ')
    else:
        for l in k:
            l+=1
        print(l)

0 s1 is present in k list
1 s1 is present in k list
5 s1 is present in k list
6 s1 is present in k list
7 s1 is present in k list

In [42]:
k=[0,1,5,6,7]
i=['s1','s2','s3','s4']
m=0
for j in k:
    if 's1' in i:
        print(j,'s1 is present in k list ')
    else:
        for l in k:
            l+=1
            print(l)
            for m in i:
                print(f'{m} present in i variable')

0 s1 is present in k list
1 s1 is present in k list
5 s1 is present in k list
6 s1 is present in k list
7 s1 is present in k list

In [43]:
#task :calculate the descriptive statistics (mean,mode,median,var,std ,sk,kurtosis)
#[40,43,19,17,18,53,17,19,16,17,12,18,70,80,60]

In [56]:
import statistics as st 
from scipy.stats import skew, kurtosis
l=[[40,43,19,17,18,53,17,19,16,17,12,18,70,80,60],[40,43,19,17,18,53,17,19,16,17,12,18,70,80,60]]
 
for i in range(len(l)):
    mean =st.mean(l[i])
    median= st.median(l[i])
    mode= st.mode(l[i])
    var= st.variance(l[i])
    std = st.stdev(l[i])
    sk= skew(l[i])
    kut=kurtosis(l[i])
  
    print(mean)
    print(median)
    print(mode)
    print(var)
    print(std)
    print(sk)
    print(kut)

33.266666666666666
19
17
513.9238095238095
22.66988772631681
0.8823954218676344
-0.6938067197946265
33.266666666666666
19
17
513.9238095238095
22.66988772631681
0.8823954218676344
-0.6938067197946265

# While loop
init,
condition,
increment,
decrement.

In [58]:
i=1
while(i<=10):
    print(i)
    i=i+1
print('==========================')

1
2
3
4
5
6
7
8
9
10
==========================

In [60]:
i=10
while(i>=1):
    print(i)
    i=i-1
print('====================')

10
9
8
7
6
5
4
3
2
1
====================

In [61]:
#1st n natural number
n=int(input('enter the number:'))
i=1
while(i<=n):
    print(i)
    i=i+2
    print('value is from',i)

enter the number:6
1
value is from 3
3
value is from 5
5
value is from 7

In [63]:
#to print 10-1
n=int(input('enter the number:'))
i=n
while(i>=1):
    print(i)
    i=i-1
print('value',i)

enter the number:10
10
9
8
7
6
5
4
3
2
1
value 0

In [65]:
#1st sum of n natural num
n=6
i=1
sum=0
while(i<=n):
    sum=sum+i
    i=i+1
print('sum=',sum) #(1+2+3+4+5+6)=21

sum= 21

In [67]:
n=int(input('enter the number:'))
i=1
sum=0
while(i<=n):
    sum=sum+i
    i=i+1
    print('sum=',sum)

enter the number:5
sum= 1
sum= 3
sum= 6
sum= 10
sum= 15

In [69]:
#Multiplication# squatre of sum of n natural number  
n=int(input('enter the number:'))
i=1
sum=0
while(i<=n):
    sum=sum+i*i
    i=i+1
    print('sum=',sum)

enter the number:4
sum= 1
sum= 5
sum= 14
sum= 30

In [74]:
n=int(input('enter the number:'))
i=1
sum=0
while(i<=n):
    sum=sum+i*i*i
    i=i+1
    print('sum=',sum)

enter the number:2
sum= 1
sum= 9

In [2]:
#sum of cube roots
n=int(input('enter the number:'))
i=1
sum=0
while(i<=n):
    sum=sum + i * i * i
    i=i+1
    print('sum=',sum)

enter the number:4
sum= 1
sum= 9
sum= 36
sum= 100

In [3]:
#product of n natural number 
n= int(input('enter the number : '))
i=1
prod=1
while(i<=n):
    prod=prod *i
    i=i+1
    print ('prod =',prod)

enter the number : 3
prod = 1
prod = 2
prod = 6

In [4]:
#product of square of n natural number 
n= int(input('enter the number : '))
i=1
prod=1
while(i<=n):
    prod=prod * (i*i)
    i=i+1
    print ('prod =',prod)

enter the number : 4
prod = 1
prod = 4
prod = 36
prod = 576

In [5]:
#product of cube of n natural number 
n= int(input('enter the number : '))
i=1
prod=1
while(i<=n):
    prod=prod * (i*i*i)
    i=i+1
    print ('prod =',prod)

enter the number : 4
prod = 1
prod = 8
prod = 216
prod = 13824

In [8]:
#print even number
n=int(input('enter the number :'))
i=2
while(i<=n):
    print(i)
    i=i+2

enter the number :20
2
4
6
8
10
12
14
16
18
20

In [10]:
#print sum of  even number
n=int(input('enter the number :'))
i=1
sum=0
while(i<=n):
    sum=sum+i
    
    i=i+2
    print('sum=',sum)

enter the number :10
sum= 1
sum= 4
sum= 9
sum= 16
sum= 25

#

In [2]:
#sum of digits of givren number 
i=24896
sum=0
while(i>0):
    sum=sum+i%10
    print(sum)
    i=i//10

print ('sum of digit ',sum)

6
15
23
27
29
sum of digit  29

In [5]:
#product of digits of givren number 
i=24896
prod=1
while(i>0):
    prod=prod*(i%10)
    print(prod)
    i=i//10

    print ('prod of digit ',prod)

6
prod of digit  6
54
prod of digit  54
432
prod of digit  432
1728
prod of digit  1728
3456
prod of digit  3456

In [7]:
#sum of sqiuare of digits
i=248
sum=0
while(i>0):
    sum = sum + (i%10) * (i%10)
    i= i//10
    print('square digits ',sum)

square digits  64
square digits  80
square digits  84

In [9]:
#sum of cube of digits
i=248
sum=0
while(i>0):
    sum = sum + (i%10) * (i%10) * (i%10)
    i= i//10
    print('cube digits ',sum)

cube digits  512
cube digits  576
cube digits  584

In [11]:
#armstrong number 
i=int (input('ent the numbers :'))
j=i
sum=0
while(i>0):
    sum = sum +(i%10)*(i%10)*(i%10)
    i=i//10
    
if j==sum:
    print('number is armstrong ')
else:
    print('number is not armstrong ')
print ('sum of digits = ',sum, 'the given number is',j)

ent the numbers :153
number is armstrong
sum of digits =  153 the given number is 153

In [15]:
#print the reverse of the number 
i=248
rev =0
while(i>0):
    rev=(rev*10)+(i%10)
    print(rev)
    i=i//10

8
84
842

In [18]:
#print the check the pelidrome number 
i= int(input())
x=i
pel=0
while(i>0):
    pel=(pel*10) +(i%10)
    i=i//10
if x==pel:
    print('given number is palidrome')
else:
    print('not palidrome')
print(f'the given number is {x},after reversing it become{pel}')

123
not palidrome
the given number is 123,after reversing it become321

In [23]:
#nested for loop

i=1
while i<= 1:
    j=1
    while j<5:
        j=j+1
        print(j)
    i=i+1

2
3
4
5

In [24]:
i=1
while i<= 2:
    j=1
    while j<5:
        j=j+1
        print(j)
    i=i+1

2
3
4
5
2
3
4
5

In [2]:
#patter format
i=1
while i<= 5:
    j=1
    while j<=i:
        print('*',end  =' ')
        j=j+1
    print()
    i=i+1

*
* *
* * *
* * * *
* * * * *

In [3]:
i=1
while i<= 5:
    j=1
    while j<=i:
        print(i,end  =' ')
        j=j+1
    print()
    i=i+1

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [4]:
i=1
while i<= 5:
    j=1
    while j<=i:
        print(j,end  =' ')
        j=j+1
    print()
    i=i+1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [5]:
i=1
while i<= 5:
    j=1
    while j<=i:
        print('8',end  =' ')
        j=j+1
    print()
    i=i+1

8
8 8
8 8 8
8 8 8 8
8 8 8 8 8

In [3]:
#triangle pattern
#reverse patter 
i=1
while i<= 5:
    j=1
    while j<=5-i:
        print('',end =' ')
        j=j+1
    l = 1
    while l<=i:
        print('*',end=' ')
        l=l+1
    while l<=i:
        print(l+1,end=' ')
        l=l+1
    print()
    i=i+1

    *
   * *
  * * *
 * * * *
* * * * *

In [4]:
#middle pattern
i=1
while i<=5:
    j=1
    while j<=5-i:
        print('',end =' ')
        j=j+1
    k=1
    while k<=i:
        print(8,end =' ')
        k=k+1
    print()
    i=i+1

    8
   8 8
  8 8 8
 8 8 8 8
8 8 8 8 8

In [2]:
i=1
while i<=5:
    j=1
    while j<=5-i:
        print('',end =' ')
        j=j+1
    k=1
    while k<=i:
        print(k,end =' ')
        k=k+1
    print()
    i=i+1

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [5]:
#NEEED To complete 2 class more

In [1]:
help(print())

Help on NoneType object:

class NoneType(object)
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [2]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [3]:
help(input)

Help on method raw_input in module ipykernel.kernelbase:

raw_input(prompt='') method of ipykernel.ipkernel.IPythonKernel instance
    Forward raw_input to frontends

    Raises
    ------
    StdinNotImplementedError if active frontend doesn't support stdin.

In [4]:
def name():
    print('hi')

In [5]:
name()

hi

In [ ]:
#function

Defining a python function

def greet():
    """display a greeting to users """
    print(hi)
1) function defination

A function  definition start with the def keyword and the name of the function

2)function body
All the indented lines that follow the function definition make up the function's body  

calling a function

In [6]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [7]:
def add(a,b):
    c = a+b
    return c

In [8]:
add(2,6)

8

In [9]:
add('r','k')

'rk'

In [16]:
def percentage_marks(*avg,perc =100):
    avg = sum(*avg)/len(*avg)*perc
    return avg

In [18]:
percentage_marks([20,30])

2500.0

In [22]:
def percentage_marks(avg, perc =100):
    avg = (avg//10)*perc
    return perc

In [23]:
percentage_marks(256,10)

10

In [27]:
def greet(name):
    """display a greeting to user """
    print(f"hi {name}")

In [28]:
greet(name ='kavita')

hi kavita

In [31]:
name =10 
f"hi {name}"

'hi 10'

In [32]:
def sum(a,b,c,d):
    return a+b+c+d

In [33]:
sum(10,30,15,14)

69

In [34]:
def sum(a,b,c,d=10):
    return a+b+c+d

In [35]:
sum(10,30,15)

65

In [ ]:
#1)create a function to calculate Area of triangle
#2)create the function for curcumference of circle
#3)create the function to calculatre angle of triangle

In [38]:
#1)create a function to calculate Area of triangle
def sum(h,b):
    return b*h/2

In [39]:
sum(3,2)

3.0

In [40]:
#2)create the function for curcumference of circle
def sum(r,PI=3.1415):
    return 2*PI*r

In [41]:
sum(4)

25.132

In [42]:
#3)create the function to calculatre angle of triangle 
def sum(a,b,c=180):
    return c-(a+b)

In [43]:
sum(10,20)

150

In [46]:
Python def parameter in function

def function_name(param1,param2=value2,param3=value3,......):
    when you define a function you can specify a default value for each paramater
def greet(name,messahe='hi'):
    return f"{message}{name}"

SyntaxError: invalid syntax (1137269743.py, line 1)

In [47]:
#docstring
#help(print)

def add (a,b):
    "return the sum of two argument"
    return a+b
help(add)

Help on function add in module __main__:

add(a, b)
    return the sum of two argument

In [ ]:
#for recreating 
parameters,arguments,keywors_arguments,default_parameters,docs string.

lambda expression

In [48]:
x=lambda K: K**2
print(x(15))
print(x(12))

225
144

In [49]:
area_triangle = lambda b,h: 1/2*(b*h)

In [50]:
area_triangle(50,61)

1525.0

In [51]:
def time(n):
    return lambda x: x* n
t=time(5)#we calculte 5 time 4  here 
t(4)

20

In [52]:
n=4
t= lambda x: x*n

In [53]:
t(5)

20

In [ ]:
#create a funtion which gives the value for 1-10 eg:num(10)
#create a function for BMI calculation 
#create a function to calculate mean,medain ,mode
#create a function to calculate revenue
#create a function for calculator.

In [59]:
#create a funtion which gives the value for 1-10 eg:num(10)

def value():
    for i in range(1,11):
        print(i)

In [60]:
value()

1
2
3
4
5
6
7
8
9
10

In [57]:
#create a function for BMI calculation 

def BMI(w,h):
    return ((w/(h*h)*10000))

In [58]:
sum(50,40)

90

In [61]:
def revenue(sales,avg_price):
    rev = sales * avg_price
    print(rev)

In [62]:
revenue(200,25)

5000

In [64]:
import statistics as st
def my_mean(sample):
    mean = st.mean(sample)
    print(mean)
my_mean([1,3,5,7,8,9])

5.5

In [66]:
import statistics as st
def my_mean(sample):
    mode = st.mode(sample)
    print(mode)
my_mean([1,3,5,7,8,9])

1

In [67]:
import statistics as st
def my_mean(sample):
    median = st.median(sample)
    print(median)
my_mean([1,3,5,7,8,9])

6.0

# python recursive function

In [68]:
#using condition
def count_down(start):
    """ count down from a number"""
    print(start)
    next =start-1
    if next>0:
        count_down(next)

In [69]:
count_down(5)

5
4
3
2
1

In [73]:
#using loop
def sum(n):
    total =0
    for index in range(n+1):
        total += index
    return total
result=sum(10)
print(result)

55

# FILE INPUT/otput in python

Python Read Text file 
1)open() function

open(path_to_files,mode)

In [52]:
open(r"C:\Users\Nandini Sharma\Desktop\python_info.txt",mode='r')

In [53]:
file = open(r"C:\Users\Nandini Sharma\Desktop\python_info.txt",mode='r')

In [55]:
file.read()

']\n\nData science also integrates domain knowledge from the underlying application domain (e.g., natural sciences, information technology, and medicine).[3] Data science is multifaceted and can be described as a science, a research paradigm, a research method, a discipline, a workflow, and a profession.[4]\n\nData science is a "concept to unify statistics, data analysis, informatics, and their related methods" to "understand and analyze actual phenomena" with data.[5] It uses techniques and theories drawn from many fields within the context of mathematics, statistics, computer science, information science, and domain knowledge.[6] However, data science is different from computer science and information science. Turing Award winner Jim Gray imagined data science as a "fourth paradigm" of science (empirical, theoretical, computational, and now data-driven) and asserted that "everything about science is changing because of the impact of information technology" and the data deluge.'

In [64]:
file = open(r"C:\Users\Nandini Sharma\Desktop\python_info.txt",mode='r')
file.read(10)

'Data scien'

In [65]:
file = open(r"C:\Users\Nandini Sharma\Desktop\python_info.txt",mode='r')
file.read(50)

'Data science is an interdisciplinary academic fiel'

In [67]:
file = open(r"C:\Users\Nandini Sharma\Desktop\python_info.txt",mode='r')
print(file.read(10))
file.close()

Data scien

In [69]:
file = open(r"C:\Users\Nandini Sharma\Desktop\python_info.txt",mode='r')
print(file.readline())
file.close()

Data science is an interdisciplinary academic field[1] that uses statistics, scientific computing, scientific methods, processes, algorithms and systems to extract or extrapolate knowledge and insights from noisy, structured, and unstructured data.[2]

In [75]:
file = open(r"C:\Users\Nandini Sharma\Desktop\python_info.txt",mode='r')
list_index = file.readlines()
#file.close()

In [76]:
list_index[3]

'\n'

In [14]:
#f=open('path/to/csv_file')

import csv
f=open(r"C:\Users\Nandini Sharma\Desktop\data science\User_Data.csv",encoding='UTF8')
csv_reader=csv.reader(f)

sale_price = []
for line in csv_reader:
    
    sale_price.append(line[2])
print(sale_price)

['Age', '19', '35', '26', '27', '19', '27', '27', '32', '25', '35', '26', '26', '20', '32', '18', '29', '47', '45', '46', '48', '45', '47', '48', '45', '46', '47', '49', '47', '29', '31', '31', '27', '21', '28', '27', '35', '33', '30', '26', '27', '27', '33', '35', '30', '28', '23', '25', '27', '30', '31', '24', '18', '29', '35', '27', '24', '23', '28', '22', '32', '27', '25', '23', '32', '59', '24', '24', '23', '22', '31', '25', '24', '20', '33', '32', '34', '18', '22', '28', '26', '30', '39', '20', '35', '30', '31', '24', '28', '26', '35', '22', '30', '26', '29', '29', '35', '35', '28', '35', '28', '27', '28', '32', '33', '19', '21', '26', '27', '26', '38', '39', '37', '38', '37', '42', '40', '35', '36', '40', '41', '36', '37', '40', '35', '41', '39', '42', '26', '30', '26', '31', '33', '30', '21', '28', '23', '20', '30', '28', '19', '19', '18', '35', '30', '34', '24', '27', '41', '29', '20', '26', '41', '31', '36', '40', '31', '46', '29', '26', '32', '32', '25', '37', '35', '33', '18', '22', '35', '29', '29', '21', '34', '26', '34', '34', '23', '35', '25', '24', '31', '26', '31', '32', '33', '33', '31', '20', '33', '35', '28', '24', '19', '29', '19', '28', '34', '30', '20', '26', '35', '35', '49', '39', '41', '58', '47', '55', '52', '40', '46', '48', '52', '59', '35', '47', '60', '49', '40', '46', '59', '41', '35', '37', '60', '35', '37', '36', '56', '40', '42', '35', '39', '40', '49', '38', '46', '40', '37', '46', '53', '42', '38', '50', '56', '41', '51', '35', '57', '41', '35', '44', '37', '48', '37', '50', '52', '41', '40', '58', '45', '35', '36', '55', '35', '48', '42', '40', '37', '47', '40', '43', '59', '60', '39', '57', '57', '38', '49', '52', '50', '59', '35', '37', '52', '48', '37', '37', '48', '41', '37', '39', '49', '55', '37', '35', '36', '42', '43', '45', '46', '58', '48', '37', '37', '40', '42', '51', '47', '36', '38', '42', '39', '38', '49', '39', '39', '54', '35', '45', '36', '52', '53', '41', '48', '48', '41', '41', '42', '36', '47', '38', '48', '42', '40', '57', '36', '58', '35', '38', '39', '53', '35', '38', '47', '47', '41', '53', '54', '39', '38', '38', '37', '42', '37', '36', '60', '54', '41', '40', '42', '43', '53', '47', '42', '42', '59', '58', '46', '38', '54', '60', '60', '39', '59', '37', '46', '46', '42', '41', '58', '42', '48', '44', '49', '57', '56', '49', '39', '47', '48', '48', '47', '45', '60', '39', '46', '51', '50', '36', '49']

In [13]:
import csv
f=open(r"C:\Users\Nandini Sharma\Desktop\data science\User_Data.csv",encoding='UTF8')
csv_reader=csv.reader(f)

sale_price = []
for line in csv_reader:
    print(line)

['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased']
['15624510', 'Male', '19', '19000', '0']
['15810944', 'Male', '35', '20000', '0']
['15668575', 'Female', '26', '43000', '0']
['15603246', 'Female', '27', '57000', '0']
['15804002', 'Male', '19', '76000', '0']
['15728773', 'Male', '27', '58000', '0']
['15598044', 'Female', '27', '84000', '0']
['15694829', 'Female', '32', '150000', '1']
['15600575', 'Male', '25', '33000', '0']
['15727311', 'Female', '35', '65000', '0']
['15570769', 'Female', '26', '80000', '0']
['15606274', 'Female', '26', '52000', '0']
['15746139', 'Male', '20', '86000', '0']
['15704987', 'Male', '32', '18000', '0']
['15628972', 'Male', '18', '82000', '0']
['15697686', 'Male', '29', '80000', '0']
['15733883', 'Male', '47', '25000', '1']
['15617482', 'Male', '45', '26000', '1']
['15704583', 'Male', '46', '28000', '1']
['15621083', 'Female', '48', '29000', '1']
['15649487', 'Male', '45', '22000', '1']
['15736760', 'Female', '47', '49000', '1']
['15714658', 'Male', '48', '41000', '1']
['15599081', 'Female', '45', '22000', '1']
['15705113', 'Male', '46', '23000', '1']
['15631159', 'Male', '47', '20000', '1']
['15792818', 'Male', '49', '28000', '1']
['15633531', 'Female', '47', '30000', '1']
['15744529', 'Male', '29', '43000', '0']
['15669656', 'Male', '31', '18000', '0']
['15581198', 'Male', '31', '74000', '0']
['15729054', 'Female', '27', '137000', '1']
['15573452', 'Female', '21', '16000', '0']
['15776733', 'Female', '28', '44000', '0']
['15724858', 'Male', '27', '90000', '0']
['15713144', 'Male', '35', '27000', '0']
['15690188', 'Female', '33', '28000', '0']
['15689425', 'Male', '30', '49000', '0']
['15671766', 'Female', '26', '72000', '0']
['15782806', 'Female', '27', '31000', '0']
['15764419', 'Female', '27', '17000', '0']
['15591915', 'Female', '33', '51000', '0']
['15772798', 'Male', '35', '108000', '0']
['15792008', 'Male', '30', '15000', '0']
['15715541', 'Female', '28', '84000', '0']
['15639277', 'Male', '23', '20000', '0']
['15798850', 'Male', '25', '79000', '0']
['15776348', 'Female', '27', '54000', '0']
['15727696', 'Male', '30', '135000', '1']
['15793813', 'Female', '31', '89000', '0']
['15694395', 'Female', '24', '32000', '0']
['15764195', 'Female', '18', '44000', '0']
['15744919', 'Female', '29', '83000', '0']
['15671655', 'Female', '35', '23000', '0']
['15654901', 'Female', '27', '58000', '0']
['15649136', 'Female', '24', '55000', '0']
['15775562', 'Female', '23', '48000', '0']
['15807481', 'Male', '28', '79000', '0']
['15642885', 'Male', '22', '18000', '0']
['15789109', 'Female', '32', '117000', '0']
['15814004', 'Male', '27', '20000', '0']
['15673619', 'Male', '25', '87000', '0']
['15595135', 'Female', '23', '66000', '0']
['15583681', 'Male', '32', '120000', '1']
['15605000', 'Female', '59', '83000', '0']
['15718071', 'Male', '24', '58000', '0']
['15679760', 'Male', '24', '19000', '0']
['15654574', 'Female', '23', '82000', '0']
['15577178', 'Female', '22', '63000', '0']
['15595324', 'Female', '31', '68000', '0']
['15756932', 'Male', '25', '80000', '0']
['15726358', 'Female', '24', '27000', '0']
['15595228', 'Female', '20', '23000', '0']
['15782530', 'Female', '33', '113000', '0']
['15592877', 'Male', '32', '18000', '0']
['15651983', 'Male', '34', '112000', '1']
['15746737', 'Male', '18', '52000', '0']
['15774179', 'Female', '22', '27000', '0']
['15667265', 'Female', '28', '87000', '0']
['15655123', 'Female', '26', '17000', '0']
['15595917', 'Male', '30', '80000', '0']
['15668385', 'Male', '39', '42000', '0']
['15709476', 'Male', '20', '49000', '0']
['15711218', 'Male', '35', '88000', '0']
['15798659', 'Female', '30', '62000', '0']
['15663939', 'Female', '31', '118000', '1']
['15694946', 'Male', '24', '55000', '0']
['15631912', 'Female', '28', '85000', '0']
['15768816', 'Male', '26', '81000', '0']
['15682268', 'Male', '35', '50000', '0']
['15684801', 'Male', '22', '81000', '0']
['15636428', 'Female', '30', '116000', '0']
['15809823', 'Male', '26', '15000', '0']
['15699284', 'Female', '29', '28000', '0']
['15786993', 'Female', '29', '83000', '0']
['15709441', 'Female', '35', '44000', '0']
['15710257', 'Female', '35', '25000', '0']
['15582492', 'Male', '28', '123000', '1']
['15575694', 'Male', '35', '73000', '0']
['15756820', 'Female', '28', '37000', '0']
['15766289', 'Male', '27', '88000', '0']
['15593014', 'Male', '28', '59000', '0']
['15584545', 'Female', '32', '86000', '0']
['15675949', 'Female', '33', '149000', '1']
['15672091', 'Female', '19', '21000', '0']
['15801658', 'Male', '21', '72000', '0']
['15706185', 'Female', '26', '35000', '0']
['15789863', 'Male', '27', '89000', '0']
['15720943', 'Male', '26', '86000', '0']
['15697997', 'Female', '38', '80000', '0']
['15665416', 'Female', '39', '71000', '0']
['15660200', 'Female', '37', '71000', '0']
['15619653', 'Male', '38', '61000', '0']
['15773447', 'Male', '37', '55000', '0']
['15739160', 'Male', '42', '80000', '0']
['15689237', 'Male', '40', '57000', '0']
['15679297', 'Male', '35', '75000', '0']
['15591433', 'Male', '36', '52000', '0']
['15642725', 'Male', '40', '59000', '0']
['15701962', 'Male', '41', '59000', '0']
['15811613', 'Female', '36', '75000', '0']
['15741049', 'Male', '37', '72000', '0']
['15724423', 'Female', '40', '75000', '0']
['15574305', 'Male', '35', '53000', '0']
['15678168', 'Female', '41', '51000', '0']
['15697020', 'Female', '39', '61000', '0']
['15610801', 'Male', '42', '65000', '0']
['15745232', 'Male', '26', '32000', '0']
['15722758', 'Male', '30', '17000', '0']
['15792102', 'Female', '26', '84000', '0']
['15675185', 'Male', '31', '58000', '0']
['15801247', 'Male', '33', '31000', '0']
['15725660', 'Male', '30', '87000', '0']
['15638963', 'Female', '21', '68000', '0']
['15800061', 'Female', '28', '55000', '0']
['15578006', 'Male', '23', '63000', '0']
['15668504', 'Female', '20', '82000', '0']
['15687491', 'Male', '30', '107000', '1']
['15610403', 'Female', '28', '59000', '0']
['15741094', 'Male', '19', '25000', '0']
['15807909', 'Male', '19', '85000', '0']
['15666141', 'Female', '18', '68000', '0']
['15617134', 'Male', '35', '59000', '0']
['15783029', 'Male', '30', '89000', '0']
['15622833', 'Female', '34', '25000', '0']
['15746422', 'Female', '24', '89000', '0']
['15750839', 'Female', '27', '96000', '1']
['15749130', 'Female', '41', '30000', '0']
['15779862', 'Male', '29', '61000', '0']
['15767871', 'Male', '20', '74000', '0']
['15679651', 'Female', '26', '15000', '0']
['15576219', 'Male', '41', '45000', '0']
['15699247', 'Male', '31', '76000', '0']
['15619087', 'Female', '36', '50000', '0']
['15605327', 'Male', '40', '47000', '0']
['15610140', 'Female', '31', '15000', '0']
['15791174', 'Male', '46', '59000', '0']
['15602373', 'Male', '29', '75000', '0']
['15762605', 'Male', '26', '30000', '0']
['15598840', 'Female', '32', '135000', '1']
['15744279', 'Male', '32', '100000', '1']
['15670619', 'Male', '25', '90000', '0']
['15599533', 'Female', '37', '33000', '0']
['15757837', 'Male', '35', '38000', '0']
['15697574', 'Female', '33', '69000', '0']
['15578738', 'Female', '18', '86000', '0']
['15762228', 'Female', '22', '55000', '0']
['15614827', 'Female', '35', '71000', '0']
['15789815', 'Male', '29', '148000', '1']
['15579781', 'Female', '29', '47000', '0']
['15587013', 'Male', '21', '88000', '0']
['15570932', 'Male', '34', '115000', '0']
['15794661', 'Female', '26', '118000', '0']
['15581654', 'Female', '34', '43000', '0']
['15644296', 'Female', '34', '72000', '0']
['15614420', 'Female', '23', '28000', '0']
['15609653', 'Female', '35', '47000', '0']
['15594577', 'Male', '25', '22000', '0']
['15584114', 'Male', '24', '23000', '0']
['15673367', 'Female', '31', '34000', '0']
['15685576', 'Male', '26', '16000', '0']
['15774727', 'Female', '31', '71000', '0']
['15694288', 'Female', '32', '117000', '1']
['15603319', 'Male', '33', '43000', '0']
['15759066', 'Female', '33', '60000', '0']
['15814816', 'Male', '31', '66000', '0']
['15724402', 'Female', '20', '82000', '0']
['15571059', 'Female', '33', '41000', '0']
['15674206', 'Male', '35', '72000', '0']
['15715160', 'Male', '28', '32000', '0']
['15730448', 'Male', '24', '84000', '0']
['15662067', 'Female', '19', '26000', '0']
['15779581', 'Male', '29', '43000', '0']
['15662901', 'Male', '19', '70000', '0']
['15689751', 'Male', '28', '89000', '0']
['15667742', 'Male', '34', '43000', '0']
['15738448', 'Female', '30', '79000', '0']
['15680243', 'Female', '20', '36000', '0']
['15745083', 'Male', '26', '80000', '0']
['15708228', 'Male', '35', '22000', '0']
['15628523', 'Male', '35', '39000', '0']
['15708196', 'Male', '49', '74000', '0']
['15735549', 'Female', '39', '134000', '1']
['15809347', 'Female', '41', '71000', '0']
['15660866', 'Female', '58', '101000', '1']
['15766609', 'Female', '47', '47000', '0']
['15654230', 'Female', '55', '130000', '1']
['15794566', 'Female', '52', '114000', '0']
['15800890', 'Female', '40', '142000', '1']
['15697424', 'Female', '46', '22000', '0']
['15724536', 'Female', '48', '96000', '1']
['15735878', 'Male', '52', '150000', '1']
['15707596', 'Female', '59', '42000', '0']
['15657163', 'Male', '35', '58000', '0']
['15622478', 'Male', '47', '43000', '0']
['15779529', 'Female', '60', '108000', '1']
['15636023', 'Male', '49', '65000', '0']
['15582066', 'Male', '40', '78000', '0']
['15666675', 'Female', '46', '96000', '0']
['15732987', 'Male', '59', '143000', '1']
['15789432', 'Female', '41', '80000', '0']
['15663161', 'Male', '35', '91000', '1']
['15694879', 'Male', '37', '144000', '1']
['15593715', 'Male', '60', '102000', '1']
['15575002', 'Female', '35', '60000', '0']
['15622171', 'Male', '37', '53000', '0']
['15795224', 'Female', '36', '126000', '1']
['15685346', 'Male', '56', '133000', '1']
['15691808', 'Female', '40', '72000', '0']
['15721007', 'Female', '42', '80000', '1']
['15794253', 'Female', '35', '147000', '1']
['15694453', 'Male', '39', '42000', '0']
['15813113', 'Male', '40', '107000', '1']
['15614187', 'Male', '49', '86000', '1']
['15619407', 'Female', '38', '112000', '0']
['15646227', 'Male', '46', '79000', '1']
['15660541', 'Male', '40', '57000', '0']
['15753874', 'Female', '37', '80000', '0']
['15617877', 'Female', '46', '82000', '0']
['15772073', 'Female', '53', '143000', '1']
['15701537', 'Male', '42', '149000', '1']
['15736228', 'Male', '38', '59000', '0']
['15780572', 'Female', '50', '88000', '1']
['15769596', 'Female', '56', '104000', '1']
['15586996', 'Female', '41', '72000', '0']
['15722061', 'Female', '51', '146000', '1']
['15638003', 'Female', '35', '50000', '0']
['15775590', 'Female', '57', '122000', '1']
['15730688', 'Male', '41', '52000', '0']
['15753102', 'Female', '35', '97000', '1']
['15810075', 'Female', '44', '39000', '0']
['15723373', 'Male', '37', '52000', '0']
['15795298', 'Female', '48', '134000', '1']
['15584320', 'Female', '37', '146000', '1']
['15724161', 'Female', '50', '44000', '0']
['15750056', 'Female', '52', '90000', '1']
['15609637', 'Female', '41', '72000', '0']
['15794493', 'Male', '40', '57000', '0']
['15569641', 'Female', '58', '95000', '1']
['15815236', 'Female', '45', '131000', '1']
['15811177', 'Female', '35', '77000', '0']
['15680587', 'Male', '36', '144000', '1']
['15672821', 'Female', '55', '125000', '1']
['15767681', 'Female', '35', '72000', '0']
['15600379', 'Male', '48', '90000', '1']
['15801336', 'Female', '42', '108000', '1']
['15721592', 'Male', '40', '75000', '0']
['15581282', 'Male', '37', '74000', '0']
['15746203', 'Female', '47', '144000', '1']
['15583137', 'Male', '40', '61000', '0']
['15680752', 'Female', '43', '133000', '0']
['15688172', 'Female', '59', '76000', '1']
['15791373', 'Male', '60', '42000', '1']
['15589449', 'Male', '39', '106000', '1']
['15692819', 'Female', '57', '26000', '1']
['15727467', 'Male', '57', '74000', '1']
['15734312', 'Male', '38', '71000', '0']
['15764604', 'Male', '49', '88000', '1']
['15613014', 'Female', '52', '38000', '1']
['15759684', 'Female', '50', '36000', '1']
['15609669', 'Female', '59', '88000', '1']
['15685536', 'Male', '35', '61000', '0']
['15750447', 'Male', '37', '70000', '1']
['15663249', 'Female', '52', '21000', '1']
['15638646', 'Male', '48', '141000', '0']
['15734161', 'Female', '37', '93000', '1']
['15631070', 'Female', '37', '62000', '0']
['15761950', 'Female', '48', '138000', '1']
['15649668', 'Male', '41', '79000', '0']
['15713912', 'Female', '37', '78000', '1']
['15586757', 'Male', '39', '134000', '1']
['15596522', 'Male', '49', '89000', '1']
['15625395', 'Male', '55', '39000', '1']
['15760570', 'Male', '37', '77000', '0']
['15566689', 'Female', '35', '57000', '0']
['15725794', 'Female', '36', '63000', '0']
['15673539', 'Male', '42', '73000', '1']
['15705298', 'Female', '43', '112000', '1']
['15675791', 'Male', '45', '79000', '0']
['15747043', 'Male', '46', '117000', '1']
['15736397', 'Female', '58', '38000', '1']
['15678201', 'Male', '48', '74000', '1']
['15720745', 'Female', '37', '137000', '1']
['15637593', 'Male', '37', '79000', '1']
['15598070', 'Female', '40', '60000', '0']
['15787550', 'Male', '42', '54000', '0']
['15603942', 'Female', '51', '134000', '0']
['15733973', 'Female', '47', '113000', '1']
['15596761', 'Male', '36', '125000', '1']
['15652400', 'Female', '38', '50000', '0']
['15717893', 'Female', '42', '70000', '0']
['15622585', 'Male', '39', '96000', '1']
['15733964', 'Female', '38', '50000', '0']
['15753861', 'Female', '49', '141000', '1']
['15747097', 'Female', '39', '79000', '0']
['15594762', 'Female', '39', '75000', '1']
['15667417', 'Female', '54', '104000', '1']
['15684861', 'Male', '35', '55000', '0']
['15742204', 'Male', '45', '32000', '1']
['15623502', 'Male', '36', '60000', '0']
['15774872', 'Female', '52', '138000', '1']
['15611191', 'Female', '53', '82000', '1']
['15674331', 'Male', '41', '52000', '0']
['15619465', 'Female', '48', '30000', '1']
['15575247', 'Female', '48', '131000', '1']
['15695679', 'Female', '41', '60000', '0']
['15713463', 'Male', '41', '72000', '0']
['15785170', 'Female', '42', '75000', '0']
['15796351', 'Male', '36', '118000', '1']
['15639576', 'Female', '47', '107000', '1']
['15693264', 'Male', '38', '51000', '0']
['15589715', 'Female', '48', '119000', '1']
['15769902', 'Male', '42', '65000', '0']
['15587177', 'Male', '40', '65000', '0']
['15814553', 'Male', '57', '60000', '1']
['15601550', 'Female', '36', '54000', '0']
['15664907', 'Male', '58', '144000', '1']
['15612465', 'Male', '35', '79000', '0']
['15810800', 'Female', '38', '55000', '0']
['15665760', 'Male', '39', '122000', '1']
['15588080', 'Female', '53', '104000', '1']
['15776844', 'Male', '35', '75000', '0']
['15717560', 'Female', '38', '65000', '0']
['15629739', 'Female', '47', '51000', '1']
['15729908', 'Male', '47', '105000', '1']
['15716781', 'Female', '41', '63000', '0']
['15646936', 'Male', '53', '72000', '1']
['15768151', 'Female', '54', '108000', '1']
['15579212', 'Male', '39', '77000', '0']
['15721835', 'Male', '38', '61000', '0']
['15800515', 'Female', '38', '113000', '1']
['15591279', 'Male', '37', '75000', '0']
['15587419', 'Female', '42', '90000', '1']
['15750335', 'Female', '37', '57000', '0']
['15699619', 'Male', '36', '99000', '1']
['15606472', 'Male', '60', '34000', '1']
['15778368', 'Male', '54', '70000', '1']
['15671387', 'Female', '41', '72000', '0']
['15573926', 'Male', '40', '71000', '1']
['15709183', 'Male', '42', '54000', '0']
['15577514', 'Male', '43', '129000', '1']
['15778830', 'Female', '53', '34000', '1']
['15768072', 'Female', '47', '50000', '1']
['15768293', 'Female', '42', '79000', '0']
['15654456', 'Male', '42', '104000', '1']
['15807525', 'Female', '59', '29000', '1']
['15574372', 'Female', '58', '47000', '1']
['15671249', 'Male', '46', '88000', '1']
['15779744', 'Male', '38', '71000', '0']
['15624755', 'Female', '54', '26000', '1']
['15611430', 'Female', '60', '46000', '1']
['15774744', 'Male', '60', '83000', '1']
['15629885', 'Female', '39', '73000', '0']
['15708791', 'Male', '59', '130000', '1']
['15793890', 'Female', '37', '80000', '0']
['15646091', 'Female', '46', '32000', '1']
['15596984', 'Female', '46', '74000', '0']
['15800215', 'Female', '42', '53000', '0']
['15577806', 'Male', '41', '87000', '1']
['15749381', 'Female', '58', '23000', '1']
['15683758', 'Male', '42', '64000', '0']
['15670615', 'Male', '48', '33000', '1']
['15715622', 'Female', '44', '139000', '1']
['15707634', 'Male', '49', '28000', '1']
['15806901', 'Female', '57', '33000', '1']
['15775335', 'Male', '56', '60000', '1']
['15724150', 'Female', '49', '39000', '1']
['15627220', 'Male', '39', '71000', '0']
['15672330', 'Male', '47', '34000', '1']
['15668521', 'Female', '48', '35000', '1']
['15807837', 'Male', '48', '33000', '1']
['15592570', 'Male', '47', '23000', '1']
['15748589', 'Female', '45', '45000', '1']
['15635893', 'Male', '60', '42000', '1']
['15757632', 'Female', '39', '59000', '0']
['15691863', 'Female', '46', '41000', '1']
['15706071', 'Male', '51', '23000', '1']
['15654296', 'Female', '50', '20000', '1']
['15755018', 'Male', '36', '33000', '0']
['15594041', 'Female', '49', '36000', '1']

In [15]:
#for extracting age,name or any column 
import csv
f=open(r"C:\Users\Nandini Sharma\Desktop\data science\User_Data.csv",encoding='UTF8')
csv_reader=csv.reader(f)

sale_price = []
for line in csv_reader:
    print(line[2])

Age
19
35
26
27
19
27
27
32
25
35
26
26
20
32
18
29
47
45
46
48
45
47
48
45
46
47
49
47
29
31
31
27
21
28
27
35
33
30
26
27
27
33
35
30
28
23
25
27
30
31
24
18
29
35
27
24
23
28
22
32
27
25
23
32
59
24
24
23
22
31
25
24
20
33
32
34
18
22
28
26
30
39
20
35
30
31
24
28
26
35
22
30
26
29
29
35
35
28
35
28
27
28
32
33
19
21
26
27
26
38
39
37
38
37
42
40
35
36
40
41
36
37
40
35
41
39
42
26
30
26
31
33
30
21
28
23
20
30
28
19
19
18
35
30
34
24
27
41
29
20
26
41
31
36
40
31
46
29
26
32
32
25
37
35
33
18
22
35
29
29
21
34
26
34
34
23
35
25
24
31
26
31
32
33
33
31
20
33
35
28
24
19
29
19
28
34
30
20
26
35
35
49
39
41
58
47
55
52
40
46
48
52
59
35
47
60
49
40
46
59
41
35
37
60
35
37
36
56
40
42
35
39
40
49
38
46
40
37
46
53
42
38
50
56
41
51
35
57
41
35
44
37
48
37
50
52
41
40
58
45
35
36
55
35
48
42
40
37
47
40
43
59
60
39
57
57
38
49
52
50
59
35
37
52
48
37
37
48
41
37
39
49
55
37
35
36
42
43
45
46
58
48
37
37
40
42
51
47
36
38
42
39
38
49
39
39
54
35
45
36
52
53
41
48
48
41
41
42
36
47
38
48
42
40
57
36
58
35
38
39
53
35
38
47
47
41
53
54
39
38
38
37
42
37
36
60
54
41
40
42
43
53
47
42
42
59
58
46
38
54
60
60
39
59
37
46
46
42
41
58
42
48
44
49
57
56
49
39
47
48
48
47
45
60
39
46
51
50
36
49

In [19]:
#for extracting age,name or any column 
import csv
from statistics import mean
f=open(r"C:\Users\Nandini Sharma\Desktop\data science\User_Data.csv",encoding='UTF8')
csv_reader=csv.reader(f)
age = []
sale_price = []
for line in csv_reader:
    age.append(line[2])
print(age)

['Age', '19', '35', '26', '27', '19', '27', '27', '32', '25', '35', '26', '26', '20', '32', '18', '29', '47', '45', '46', '48', '45', '47', '48', '45', '46', '47', '49', '47', '29', '31', '31', '27', '21', '28', '27', '35', '33', '30', '26', '27', '27', '33', '35', '30', '28', '23', '25', '27', '30', '31', '24', '18', '29', '35', '27', '24', '23', '28', '22', '32', '27', '25', '23', '32', '59', '24', '24', '23', '22', '31', '25', '24', '20', '33', '32', '34', '18', '22', '28', '26', '30', '39', '20', '35', '30', '31', '24', '28', '26', '35', '22', '30', '26', '29', '29', '35', '35', '28', '35', '28', '27', '28', '32', '33', '19', '21', '26', '27', '26', '38', '39', '37', '38', '37', '42', '40', '35', '36', '40', '41', '36', '37', '40', '35', '41', '39', '42', '26', '30', '26', '31', '33', '30', '21', '28', '23', '20', '30', '28', '19', '19', '18', '35', '30', '34', '24', '27', '41', '29', '20', '26', '41', '31', '36', '40', '31', '46', '29', '26', '32', '32', '25', '37', '35', '33', '18', '22', '35', '29', '29', '21', '34', '26', '34', '34', '23', '35', '25', '24', '31', '26', '31', '32', '33', '33', '31', '20', '33', '35', '28', '24', '19', '29', '19', '28', '34', '30', '20', '26', '35', '35', '49', '39', '41', '58', '47', '55', '52', '40', '46', '48', '52', '59', '35', '47', '60', '49', '40', '46', '59', '41', '35', '37', '60', '35', '37', '36', '56', '40', '42', '35', '39', '40', '49', '38', '46', '40', '37', '46', '53', '42', '38', '50', '56', '41', '51', '35', '57', '41', '35', '44', '37', '48', '37', '50', '52', '41', '40', '58', '45', '35', '36', '55', '35', '48', '42', '40', '37', '47', '40', '43', '59', '60', '39', '57', '57', '38', '49', '52', '50', '59', '35', '37', '52', '48', '37', '37', '48', '41', '37', '39', '49', '55', '37', '35', '36', '42', '43', '45', '46', '58', '48', '37', '37', '40', '42', '51', '47', '36', '38', '42', '39', '38', '49', '39', '39', '54', '35', '45', '36', '52', '53', '41', '48', '48', '41', '41', '42', '36', '47', '38', '48', '42', '40', '57', '36', '58', '35', '38', '39', '53', '35', '38', '47', '47', '41', '53', '54', '39', '38', '38', '37', '42', '37', '36', '60', '54', '41', '40', '42', '43', '53', '47', '42', '42', '59', '58', '46', '38', '54', '60', '60', '39', '59', '37', '46', '46', '42', '41', '58', '42', '48', '44', '49', '57', '56', '49', '39', '47', '48', '48', '47', '45', '60', '39', '46', '51', '50', '36', '49']

In [23]:
for i in age[1:]:
    print(i)

19
35
26
27
19
27
27
32
25
35
26
26
20
32
18
29
47
45
46
48
45
47
48
45
46
47
49
47
29
31
31
27
21
28
27
35
33
30
26
27
27
33
35
30
28
23
25
27
30
31
24
18
29
35
27
24
23
28
22
32
27
25
23
32
59
24
24
23
22
31
25
24
20
33
32
34
18
22
28
26
30
39
20
35
30
31
24
28
26
35
22
30
26
29
29
35
35
28
35
28
27
28
32
33
19
21
26
27
26
38
39
37
38
37
42
40
35
36
40
41
36
37
40
35
41
39
42
26
30
26
31
33
30
21
28
23
20
30
28
19
19
18
35
30
34
24
27
41
29
20
26
41
31
36
40
31
46
29
26
32
32
25
37
35
33
18
22
35
29
29
21
34
26
34
34
23
35
25
24
31
26
31
32
33
33
31
20
33
35
28
24
19
29
19
28
34
30
20
26
35
35
49
39
41
58
47
55
52
40
46
48
52
59
35
47
60
49
40
46
59
41
35
37
60
35
37
36
56
40
42
35
39
40
49
38
46
40
37
46
53
42
38
50
56
41
51
35
57
41
35
44
37
48
37
50
52
41
40
58
45
35
36
55
35
48
42
40
37
47
40
43
59
60
39
57
57
38
49
52
50
59
35
37
52
48
37
37
48
41
37
39
49
55
37
35
36
42
43
45
46
58
48
37
37
40
42
51
47
36
38
42
39
38
49
39
39
54
35
45
36
52
53
41
48
48
41
41
42
36
47
38
48
42
40
57
36
58
35
38
39
53
35
38
47
47
41
53
54
39
38
38
37
42
37
36
60
54
41
40
42
43
53
47
42
42
59
58
46
38
54
60
60
39
59
37
46
46
42
41
58
42
48
44
49
57
56
49
39
47
48
48
47
45
60
39
46
51
50
36
49

In [24]:
for i in age[1:]:
    print(int(i))

19
35
26
27
19
27
27
32
25
35
26
26
20
32
18
29
47
45
46
48
45
47
48
45
46
47
49
47
29
31
31
27
21
28
27
35
33
30
26
27
27
33
35
30
28
23
25
27
30
31
24
18
29
35
27
24
23
28
22
32
27
25
23
32
59
24
24
23
22
31
25
24
20
33
32
34
18
22
28
26
30
39
20
35
30
31
24
28
26
35
22
30
26
29
29
35
35
28
35
28
27
28
32
33
19
21
26
27
26
38
39
37
38
37
42
40
35
36
40
41
36
37
40
35
41
39
42
26
30
26
31
33
30
21
28
23
20
30
28
19
19
18
35
30
34
24
27
41
29
20
26
41
31
36
40
31
46
29
26
32
32
25
37
35
33
18
22
35
29
29
21
34
26
34
34
23
35
25
24
31
26
31
32
33
33
31
20
33
35
28
24
19
29
19
28
34
30
20
26
35
35
49
39
41
58
47
55
52
40
46
48
52
59
35
47
60
49
40
46
59
41
35
37
60
35
37
36
56
40
42
35
39
40
49
38
46
40
37
46
53
42
38
50
56
41
51
35
57
41
35
44
37
48
37
50
52
41
40
58
45
35
36
55
35
48
42
40
37
47
40
43
59
60
39
57
57
38
49
52
50
59
35
37
52
48
37
37
48
41
37
39
49
55
37
35
36
42
43
45
46
58
48
37
37
40
42
51
47
36
38
42
39
38
49
39
39
54
35
45
36
52
53
41
48
48
41
41
42
36
47
38
48
42
40
57
36
58
35
38
39
53
35
38
47
47
41
53
54
39
38
38
37
42
37
36
60
54
41
40
42
43
53
47
42
42
59
58
46
38
54
60
60
39
59
37
46
46
42
41
58
42
48
44
49
57
56
49
39
47
48
48
47
45
60
39
46
51
50
36
49

In [7]:
import csv
from statistics import mean
f=open(r"C:\Users\Nandini Sharma\Desktop\data science\User_Data.csv",encoding='UTF8')
csv_reader=csv.reader(f)

age = []
for line in csv_reader:
    age.append(line[2])
int_age=[]
for i in age[2:]:
    int_age.append(int(i))
print(f'the average age of users is {sum(int_age)/len(int_age)}')

the average age of users is 37.70175438596491

In [ ]:
import csv
from statistics import mean
f=open(r"C:\Users\Nandini Sharma\Desktop\data science\User_Data.csv",encoding='UTF8')
csv_reader=csv.reader(f)

m = []
f = []
for line in csv_reader:

In [33]:
import csv
from statistics import mean
f=open(r"C:\Users\Nandini Sharma\Desktop\data science\User_Data.csv",encoding='UTF8')
csv_reader=csv.reader(f)

expectedsalary = []
for line in csv_reader:
    expectedsalary.append(line[3])
    
expected_salary=[]
for i in expectedsalary[3:]:
    expected_salary.append(int(i))
print(f'the average age of users is {sum(expected_salary)/len(expected_salary)}')

the average age of users is 69994.97487437187

In [63]:
import csv
import statistics
 
f=open(r"C:\Users\Nandini Sharma\Desktop\data science\User_Data.csv",encoding='UTF8')
csv_reader=csv.reader(f)

m_salary =[]
f_salary =[]

for gender in csv_reader:
    if gender[1] == 'Male':
        m_salary.append(int(gender[3]))
        
#print('-------------------------------------------------')

    elif gender[1] =='Female':
        f_salary.append(int(gender[3]))
# print(m_salary)
        
print(f'average male salary is {round(statistics.mean(m_salary),2)}')
print(f'average female salary is {round(statistics.mean(f_salary),2)}')

average male salary is 67642.86
average female salary is 71759.8

In [28]:
import csv

with open(r"C:\Users\Nandini Sharma\Desktop\data science\User_Data.csv") as f:
    csv_reader =csv.reader(f)
    for line in csv_reader:
        print(line)

['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased']
['15624510', 'Male', '19', '19000', '0']
['15810944', 'Male', '35', '20000', '0']
['15668575', 'Female', '26', '43000', '0']
['15603246', 'Female', '27', '57000', '0']
['15804002', 'Male', '19', '76000', '0']
['15728773', 'Male', '27', '58000', '0']
['15598044', 'Female', '27', '84000', '0']
['15694829', 'Female', '32', '150000', '1']
['15600575', 'Male', '25', '33000', '0']
['15727311', 'Female', '35', '65000', '0']
['15570769', 'Female', '26', '80000', '0']
['15606274', 'Female', '26', '52000', '0']
['15746139', 'Male', '20', '86000', '0']
['15704987', 'Male', '32', '18000', '0']
['15628972', 'Male', '18', '82000', '0']
['15697686', 'Male', '29', '80000', '0']
['15733883', 'Male', '47', '25000', '1']
['15617482', 'Male', '45', '26000', '1']
['15704583', 'Male', '46', '28000', '1']
['15621083', 'Female', '48', '29000', '1']
['15649487', 'Male', '45', '22000', '1']
['15736760', 'Female', '47', '49000', '1']
['15714658', 'Male', '48', '41000', '1']
['15599081', 'Female', '45', '22000', '1']
['15705113', 'Male', '46', '23000', '1']
['15631159', 'Male', '47', '20000', '1']
['15792818', 'Male', '49', '28000', '1']
['15633531', 'Female', '47', '30000', '1']
['15744529', 'Male', '29', '43000', '0']
['15669656', 'Male', '31', '18000', '0']
['15581198', 'Male', '31', '74000', '0']
['15729054', 'Female', '27', '137000', '1']
['15573452', 'Female', '21', '16000', '0']
['15776733', 'Female', '28', '44000', '0']
['15724858', 'Male', '27', '90000', '0']
['15713144', 'Male', '35', '27000', '0']
['15690188', 'Female', '33', '28000', '0']
['15689425', 'Male', '30', '49000', '0']
['15671766', 'Female', '26', '72000', '0']
['15782806', 'Female', '27', '31000', '0']
['15764419', 'Female', '27', '17000', '0']
['15591915', 'Female', '33', '51000', '0']
['15772798', 'Male', '35', '108000', '0']
['15792008', 'Male', '30', '15000', '0']
['15715541', 'Female', '28', '84000', '0']
['15639277', 'Male', '23', '20000', '0']
['15798850', 'Male', '25', '79000', '0']
['15776348', 'Female', '27', '54000', '0']
['15727696', 'Male', '30', '135000', '1']
['15793813', 'Female', '31', '89000', '0']
['15694395', 'Female', '24', '32000', '0']
['15764195', 'Female', '18', '44000', '0']
['15744919', 'Female', '29', '83000', '0']
['15671655', 'Female', '35', '23000', '0']
['15654901', 'Female', '27', '58000', '0']
['15649136', 'Female', '24', '55000', '0']
['15775562', 'Female', '23', '48000', '0']
['15807481', 'Male', '28', '79000', '0']
['15642885', 'Male', '22', '18000', '0']
['15789109', 'Female', '32', '117000', '0']
['15814004', 'Male', '27', '20000', '0']
['15673619', 'Male', '25', '87000', '0']
['15595135', 'Female', '23', '66000', '0']
['15583681', 'Male', '32', '120000', '1']
['15605000', 'Female', '59', '83000', '0']
['15718071', 'Male', '24', '58000', '0']
['15679760', 'Male', '24', '19000', '0']
['15654574', 'Female', '23', '82000', '0']
['15577178', 'Female', '22', '63000', '0']
['15595324', 'Female', '31', '68000', '0']
['15756932', 'Male', '25', '80000', '0']
['15726358', 'Female', '24', '27000', '0']
['15595228', 'Female', '20', '23000', '0']
['15782530', 'Female', '33', '113000', '0']
['15592877', 'Male', '32', '18000', '0']
['15651983', 'Male', '34', '112000', '1']
['15746737', 'Male', '18', '52000', '0']
['15774179', 'Female', '22', '27000', '0']
['15667265', 'Female', '28', '87000', '0']
['15655123', 'Female', '26', '17000', '0']
['15595917', 'Male', '30', '80000', '0']
['15668385', 'Male', '39', '42000', '0']
['15709476', 'Male', '20', '49000', '0']
['15711218', 'Male', '35', '88000', '0']
['15798659', 'Female', '30', '62000', '0']
['15663939', 'Female', '31', '118000', '1']
['15694946', 'Male', '24', '55000', '0']
['15631912', 'Female', '28', '85000', '0']
['15768816', 'Male', '26', '81000', '0']
['15682268', 'Male', '35', '50000', '0']
['15684801', 'Male', '22', '81000', '0']
['15636428', 'Female', '30', '116000', '0']
['15809823', 'Male', '26', '15000', '0']
['15699284', 'Female', '29', '28000', '0']
['15786993', 'Female', '29', '83000', '0']
['15709441', 'Female', '35', '44000', '0']
['15710257', 'Female', '35', '25000', '0']
['15582492', 'Male', '28', '123000', '1']
['15575694', 'Male', '35', '73000', '0']
['15756820', 'Female', '28', '37000', '0']
['15766289', 'Male', '27', '88000', '0']
['15593014', 'Male', '28', '59000', '0']
['15584545', 'Female', '32', '86000', '0']
['15675949', 'Female', '33', '149000', '1']
['15672091', 'Female', '19', '21000', '0']
['15801658', 'Male', '21', '72000', '0']
['15706185', 'Female', '26', '35000', '0']
['15789863', 'Male', '27', '89000', '0']
['15720943', 'Male', '26', '86000', '0']
['15697997', 'Female', '38', '80000', '0']
['15665416', 'Female', '39', '71000', '0']
['15660200', 'Female', '37', '71000', '0']
['15619653', 'Male', '38', '61000', '0']
['15773447', 'Male', '37', '55000', '0']
['15739160', 'Male', '42', '80000', '0']
['15689237', 'Male', '40', '57000', '0']
['15679297', 'Male', '35', '75000', '0']
['15591433', 'Male', '36', '52000', '0']
['15642725', 'Male', '40', '59000', '0']
['15701962', 'Male', '41', '59000', '0']
['15811613', 'Female', '36', '75000', '0']
['15741049', 'Male', '37', '72000', '0']
['15724423', 'Female', '40', '75000', '0']
['15574305', 'Male', '35', '53000', '0']
['15678168', 'Female', '41', '51000', '0']
['15697020', 'Female', '39', '61000', '0']
['15610801', 'Male', '42', '65000', '0']
['15745232', 'Male', '26', '32000', '0']
['15722758', 'Male', '30', '17000', '0']
['15792102', 'Female', '26', '84000', '0']
['15675185', 'Male', '31', '58000', '0']
['15801247', 'Male', '33', '31000', '0']
['15725660', 'Male', '30', '87000', '0']
['15638963', 'Female', '21', '68000', '0']
['15800061', 'Female', '28', '55000', '0']
['15578006', 'Male', '23', '63000', '0']
['15668504', 'Female', '20', '82000', '0']
['15687491', 'Male', '30', '107000', '1']
['15610403', 'Female', '28', '59000', '0']
['15741094', 'Male', '19', '25000', '0']
['15807909', 'Male', '19', '85000', '0']
['15666141', 'Female', '18', '68000', '0']
['15617134', 'Male', '35', '59000', '0']
['15783029', 'Male', '30', '89000', '0']
['15622833', 'Female', '34', '25000', '0']
['15746422', 'Female', '24', '89000', '0']
['15750839', 'Female', '27', '96000', '1']
['15749130', 'Female', '41', '30000', '0']
['15779862', 'Male', '29', '61000', '0']
['15767871', 'Male', '20', '74000', '0']
['15679651', 'Female', '26', '15000', '0']
['15576219', 'Male', '41', '45000', '0']
['15699247', 'Male', '31', '76000', '0']
['15619087', 'Female', '36', '50000', '0']
['15605327', 'Male', '40', '47000', '0']
['15610140', 'Female', '31', '15000', '0']
['15791174', 'Male', '46', '59000', '0']
['15602373', 'Male', '29', '75000', '0']
['15762605', 'Male', '26', '30000', '0']
['15598840', 'Female', '32', '135000', '1']
['15744279', 'Male', '32', '100000', '1']
['15670619', 'Male', '25', '90000', '0']
['15599533', 'Female', '37', '33000', '0']
['15757837', 'Male', '35', '38000', '0']
['15697574', 'Female', '33', '69000', '0']
['15578738', 'Female', '18', '86000', '0']
['15762228', 'Female', '22', '55000', '0']
['15614827', 'Female', '35', '71000', '0']
['15789815', 'Male', '29', '148000', '1']
['15579781', 'Female', '29', '47000', '0']
['15587013', 'Male', '21', '88000', '0']
['15570932', 'Male', '34', '115000', '0']
['15794661', 'Female', '26', '118000', '0']
['15581654', 'Female', '34', '43000', '0']
['15644296', 'Female', '34', '72000', '0']
['15614420', 'Female', '23', '28000', '0']
['15609653', 'Female', '35', '47000', '0']
['15594577', 'Male', '25', '22000', '0']
['15584114', 'Male', '24', '23000', '0']
['15673367', 'Female', '31', '34000', '0']
['15685576', 'Male', '26', '16000', '0']
['15774727', 'Female', '31', '71000', '0']
['15694288', 'Female', '32', '117000', '1']
['15603319', 'Male', '33', '43000', '0']
['15759066', 'Female', '33', '60000', '0']
['15814816', 'Male', '31', '66000', '0']
['15724402', 'Female', '20', '82000', '0']
['15571059', 'Female', '33', '41000', '0']
['15674206', 'Male', '35', '72000', '0']
['15715160', 'Male', '28', '32000', '0']
['15730448', 'Male', '24', '84000', '0']
['15662067', 'Female', '19', '26000', '0']
['15779581', 'Male', '29', '43000', '0']
['15662901', 'Male', '19', '70000', '0']
['15689751', 'Male', '28', '89000', '0']
['15667742', 'Male', '34', '43000', '0']
['15738448', 'Female', '30', '79000', '0']
['15680243', 'Female', '20', '36000', '0']
['15745083', 'Male', '26', '80000', '0']
['15708228', 'Male', '35', '22000', '0']
['15628523', 'Male', '35', '39000', '0']
['15708196', 'Male', '49', '74000', '0']
['15735549', 'Female', '39', '134000', '1']
['15809347', 'Female', '41', '71000', '0']
['15660866', 'Female', '58', '101000', '1']
['15766609', 'Female', '47', '47000', '0']
['15654230', 'Female', '55', '130000', '1']
['15794566', 'Female', '52', '114000', '0']
['15800890', 'Female', '40', '142000', '1']
['15697424', 'Female', '46', '22000', '0']
['15724536', 'Female', '48', '96000', '1']
['15735878', 'Male', '52', '150000', '1']
['15707596', 'Female', '59', '42000', '0']
['15657163', 'Male', '35', '58000', '0']
['15622478', 'Male', '47', '43000', '0']
['15779529', 'Female', '60', '108000', '1']
['15636023', 'Male', '49', '65000', '0']
['15582066', 'Male', '40', '78000', '0']
['15666675', 'Female', '46', '96000', '0']
['15732987', 'Male', '59', '143000', '1']
['15789432', 'Female', '41', '80000', '0']
['15663161', 'Male', '35', '91000', '1']
['15694879', 'Male', '37', '144000', '1']
['15593715', 'Male', '60', '102000', '1']
['15575002', 'Female', '35', '60000', '0']
['15622171', 'Male', '37', '53000', '0']
['15795224', 'Female', '36', '126000', '1']
['15685346', 'Male', '56', '133000', '1']
['15691808', 'Female', '40', '72000', '0']
['15721007', 'Female', '42', '80000', '1']
['15794253', 'Female', '35', '147000', '1']
['15694453', 'Male', '39', '42000', '0']
['15813113', 'Male', '40', '107000', '1']
['15614187', 'Male', '49', '86000', '1']
['15619407', 'Female', '38', '112000', '0']
['15646227', 'Male', '46', '79000', '1']
['15660541', 'Male', '40', '57000', '0']
['15753874', 'Female', '37', '80000', '0']
['15617877', 'Female', '46', '82000', '0']
['15772073', 'Female', '53', '143000', '1']
['15701537', 'Male', '42', '149000', '1']
['15736228', 'Male', '38', '59000', '0']
['15780572', 'Female', '50', '88000', '1']
['15769596', 'Female', '56', '104000', '1']
['15586996', 'Female', '41', '72000', '0']
['15722061', 'Female', '51', '146000', '1']
['15638003', 'Female', '35', '50000', '0']
['15775590', 'Female', '57', '122000', '1']
['15730688', 'Male', '41', '52000', '0']
['15753102', 'Female', '35', '97000', '1']
['15810075', 'Female', '44', '39000', '0']
['15723373', 'Male', '37', '52000', '0']
['15795298', 'Female', '48', '134000', '1']
['15584320', 'Female', '37', '146000', '1']
['15724161', 'Female', '50', '44000', '0']
['15750056', 'Female', '52', '90000', '1']
['15609637', 'Female', '41', '72000', '0']
['15794493', 'Male', '40', '57000', '0']
['15569641', 'Female', '58', '95000', '1']
['15815236', 'Female', '45', '131000', '1']
['15811177', 'Female', '35', '77000', '0']
['15680587', 'Male', '36', '144000', '1']
['15672821', 'Female', '55', '125000', '1']
['15767681', 'Female', '35', '72000', '0']
['15600379', 'Male', '48', '90000', '1']
['15801336', 'Female', '42', '108000', '1']
['15721592', 'Male', '40', '75000', '0']
['15581282', 'Male', '37', '74000', '0']
['15746203', 'Female', '47', '144000', '1']
['15583137', 'Male', '40', '61000', '0']
['15680752', 'Female', '43', '133000', '0']
['15688172', 'Female', '59', '76000', '1']
['15791373', 'Male', '60', '42000', '1']
['15589449', 'Male', '39', '106000', '1']
['15692819', 'Female', '57', '26000', '1']
['15727467', 'Male', '57', '74000', '1']
['15734312', 'Male', '38', '71000', '0']
['15764604', 'Male', '49', '88000', '1']
['15613014', 'Female', '52', '38000', '1']
['15759684', 'Female', '50', '36000', '1']
['15609669', 'Female', '59', '88000', '1']
['15685536', 'Male', '35', '61000', '0']
['15750447', 'Male', '37', '70000', '1']
['15663249', 'Female', '52', '21000', '1']
['15638646', 'Male', '48', '141000', '0']
['15734161', 'Female', '37', '93000', '1']
['15631070', 'Female', '37', '62000', '0']
['15761950', 'Female', '48', '138000', '1']
['15649668', 'Male', '41', '79000', '0']
['15713912', 'Female', '37', '78000', '1']
['15586757', 'Male', '39', '134000', '1']
['15596522', 'Male', '49', '89000', '1']
['15625395', 'Male', '55', '39000', '1']
['15760570', 'Male', '37', '77000', '0']
['15566689', 'Female', '35', '57000', '0']
['15725794', 'Female', '36', '63000', '0']
['15673539', 'Male', '42', '73000', '1']
['15705298', 'Female', '43', '112000', '1']
['15675791', 'Male', '45', '79000', '0']
['15747043', 'Male', '46', '117000', '1']
['15736397', 'Female', '58', '38000', '1']
['15678201', 'Male', '48', '74000', '1']
['15720745', 'Female', '37', '137000', '1']
['15637593', 'Male', '37', '79000', '1']
['15598070', 'Female', '40', '60000', '0']
['15787550', 'Male', '42', '54000', '0']
['15603942', 'Female', '51', '134000', '0']
['15733973', 'Female', '47', '113000', '1']
['15596761', 'Male', '36', '125000', '1']
['15652400', 'Female', '38', '50000', '0']
['15717893', 'Female', '42', '70000', '0']
['15622585', 'Male', '39', '96000', '1']
['15733964', 'Female', '38', '50000', '0']
['15753861', 'Female', '49', '141000', '1']
['15747097', 'Female', '39', '79000', '0']
['15594762', 'Female', '39', '75000', '1']
['15667417', 'Female', '54', '104000', '1']
['15684861', 'Male', '35', '55000', '0']
['15742204', 'Male', '45', '32000', '1']
['15623502', 'Male', '36', '60000', '0']
['15774872', 'Female', '52', '138000', '1']
['15611191', 'Female', '53', '82000', '1']
['15674331', 'Male', '41', '52000', '0']
['15619465', 'Female', '48', '30000', '1']
['15575247', 'Female', '48', '131000', '1']
['15695679', 'Female', '41', '60000', '0']
['15713463', 'Male', '41', '72000', '0']
['15785170', 'Female', '42', '75000', '0']
['15796351', 'Male', '36', '118000', '1']
['15639576', 'Female', '47', '107000', '1']
['15693264', 'Male', '38', '51000', '0']
['15589715', 'Female', '48', '119000', '1']
['15769902', 'Male', '42', '65000', '0']
['15587177', 'Male', '40', '65000', '0']
['15814553', 'Male', '57', '60000', '1']
['15601550', 'Female', '36', '54000', '0']
['15664907', 'Male', '58', '144000', '1']
['15612465', 'Male', '35', '79000', '0']
['15810800', 'Female', '38', '55000', '0']
['15665760', 'Male', '39', '122000', '1']
['15588080', 'Female', '53', '104000', '1']
['15776844', 'Male', '35', '75000', '0']
['15717560', 'Female', '38', '65000', '0']
['15629739', 'Female', '47', '51000', '1']
['15729908', 'Male', '47', '105000', '1']
['15716781', 'Female', '41', '63000', '0']
['15646936', 'Male', '53', '72000', '1']
['15768151', 'Female', '54', '108000', '1']
['15579212', 'Male', '39', '77000', '0']
['15721835', 'Male', '38', '61000', '0']
['15800515', 'Female', '38', '113000', '1']
['15591279', 'Male', '37', '75000', '0']
['15587419', 'Female', '42', '90000', '1']
['15750335', 'Female', '37', '57000', '0']
['15699619', 'Male', '36', '99000', '1']
['15606472', 'Male', '60', '34000', '1']
['15778368', 'Male', '54', '70000', '1']
['15671387', 'Female', '41', '72000', '0']
['15573926', 'Male', '40', '71000', '1']
['15709183', 'Male', '42', '54000', '0']
['15577514', 'Male', '43', '129000', '1']
['15778830', 'Female', '53', '34000', '1']
['15768072', 'Female', '47', '50000', '1']
['15768293', 'Female', '42', '79000', '0']
['15654456', 'Male', '42', '104000', '1']
['15807525', 'Female', '59', '29000', '1']
['15574372', 'Female', '58', '47000', '1']
['15671249', 'Male', '46', '88000', '1']
['15779744', 'Male', '38', '71000', '0']
['15624755', 'Female', '54', '26000', '1']
['15611430', 'Female', '60', '46000', '1']
['15774744', 'Male', '60', '83000', '1']
['15629885', 'Female', '39', '73000', '0']
['15708791', 'Male', '59', '130000', '1']
['15793890', 'Female', '37', '80000', '0']
['15646091', 'Female', '46', '32000', '1']
['15596984', 'Female', '46', '74000', '0']
['15800215', 'Female', '42', '53000', '0']
['15577806', 'Male', '41', '87000', '1']
['15749381', 'Female', '58', '23000', '1']
['15683758', 'Male', '42', '64000', '0']
['15670615', 'Male', '48', '33000', '1']
['15715622', 'Female', '44', '139000', '1']
['15707634', 'Male', '49', '28000', '1']
['15806901', 'Female', '57', '33000', '1']
['15775335', 'Male', '56', '60000', '1']
['15724150', 'Female', '49', '39000', '1']
['15627220', 'Male', '39', '71000', '0']
['15672330', 'Male', '47', '34000', '1']
['15668521', 'Female', '48', '35000', '1']
['15807837', 'Male', '48', '33000', '1']
['15592570', 'Male', '47', '23000', '1']
['15748589', 'Female', '45', '45000', '1']
['15635893', 'Male', '60', '42000', '1']
['15757632', 'Female', '39', '59000', '0']
['15691863', 'Female', '46', '41000', '1']
['15706071', 'Male', '51', '23000', '1']
['15654296', 'Female', '50', '20000', '1']
['15755018', 'Male', '36', '33000', '0']
['15594041', 'Female', '49', '36000', '1']

In [29]:
import csv

with open(r"C:\Users\Nandini Sharma\Desktop\data science\User_Data.csv") as f:
    csv_reader =csv.reader(f)
    for line in csv_reader:
        print(line[0])

User ID
15624510
15810944
15668575
15603246
15804002
15728773
15598044
15694829
15600575
15727311
15570769
15606274
15746139
15704987
15628972
15697686
15733883
15617482
15704583
15621083
15649487
15736760
15714658
15599081
15705113
15631159
15792818
15633531
15744529
15669656
15581198
15729054
15573452
15776733
15724858
15713144
15690188
15689425
15671766
15782806
15764419
15591915
15772798
15792008
15715541
15639277
15798850
15776348
15727696
15793813
15694395
15764195
15744919
15671655
15654901
15649136
15775562
15807481
15642885
15789109
15814004
15673619
15595135
15583681
15605000
15718071
15679760
15654574
15577178
15595324
15756932
15726358
15595228
15782530
15592877
15651983
15746737
15774179
15667265
15655123
15595917
15668385
15709476
15711218
15798659
15663939
15694946
15631912
15768816
15682268
15684801
15636428
15809823
15699284
15786993
15709441
15710257
15582492
15575694
15756820
15766289
15593014
15584545
15675949
15672091
15801658
15706185
15789863
15720943
15697997
15665416
15660200
15619653
15773447
15739160
15689237
15679297
15591433
15642725
15701962
15811613
15741049
15724423
15574305
15678168
15697020
15610801
15745232
15722758
15792102
15675185
15801247
15725660
15638963
15800061
15578006
15668504
15687491
15610403
15741094
15807909
15666141
15617134
15783029
15622833
15746422
15750839
15749130
15779862
15767871
15679651
15576219
15699247
15619087
15605327
15610140
15791174
15602373
15762605
15598840
15744279
15670619
15599533
15757837
15697574
15578738
15762228
15614827
15789815
15579781
15587013
15570932
15794661
15581654
15644296
15614420
15609653
15594577
15584114
15673367
15685576
15774727
15694288
15603319
15759066
15814816
15724402
15571059
15674206
15715160
15730448
15662067
15779581
15662901
15689751
15667742
15738448
15680243
15745083
15708228
15628523
15708196
15735549
15809347
15660866
15766609
15654230
15794566
15800890
15697424
15724536
15735878
15707596
15657163
15622478
15779529
15636023
15582066
15666675
15732987
15789432
15663161
15694879
15593715
15575002
15622171
15795224
15685346
15691808
15721007
15794253
15694453
15813113
15614187
15619407
15646227
15660541
15753874
15617877
15772073
15701537
15736228
15780572
15769596
15586996
15722061
15638003
15775590
15730688
15753102
15810075
15723373
15795298
15584320
15724161
15750056
15609637
15794493
15569641
15815236
15811177
15680587
15672821
15767681
15600379
15801336
15721592
15581282
15746203
15583137
15680752
15688172
15791373
15589449
15692819
15727467
15734312
15764604
15613014
15759684
15609669
15685536
15750447
15663249
15638646
15734161
15631070
15761950
15649668
15713912
15586757
15596522
15625395
15760570
15566689
15725794
15673539
15705298
15675791
15747043
15736397
15678201
15720745
15637593
15598070
15787550
15603942
15733973
15596761
15652400
15717893
15622585
15733964
15753861
15747097
15594762
15667417
15684861
15742204
15623502
15774872
15611191
15674331
15619465
15575247
15695679
15713463
15785170
15796351
15639576
15693264
15589715
15769902
15587177
15814553
15601550
15664907
15612465
15810800
15665760
15588080
15776844
15717560
15629739
15729908
15716781
15646936
15768151
15579212
15721835
15800515
15591279
15587419
15750335
15699619
15606472
15778368
15671387
15573926
15709183
15577514
15778830
15768072
15768293
15654456
15807525
15574372
15671249
15779744
15624755
15611430
15774744
15629885
15708791
15793890
15646091
15596984
15800215
15577806
15749381
15683758
15670615
15715622
15707634
15806901
15775335
15724150
15627220
15672330
15668521
15807837
15592570
15748589
15635893
15757632
15691863
15706071
15654296
15755018
15594041

In [30]:
import csv

with open(r"C:\Users\Nandini Sharma\Desktop\data science\User_Data.csv") as f:
    csv_reader =csv.reader(f)
    for line in csv_reader:
        print(line[1])

Gender
Male
Male
Female
Female
Male
Male
Female
Female
Male
Female
Female
Female
Male
Male
Male
Male
Male
Male
Male
Female
Male
Female
Male
Female
Male
Male
Male
Female
Male
Male
Male
Female
Female
Female
Male
Male
Female
Male
Female
Female
Female
Female
Male
Male
Female
Male
Male
Female
Male
Female
Female
Female
Female
Female
Female
Female
Female
Male
Male
Female
Male
Male
Female
Male
Female
Male
Male
Female
Female
Female
Male
Female
Female
Female
Male
Male
Male
Female
Female
Female
Male
Male
Male
Male
Female
Female
Male
Female
Male
Male
Male
Female
Male
Female
Female
Female
Female
Male
Male
Female
Male
Male
Female
Female
Female
Male
Female
Male
Male
Female
Female
Female
Male
Male
Male
Male
Male
Male
Male
Male
Female
Male
Female
Male
Female
Female
Male
Male
Male
Female
Male
Male
Male
Female
Female
Male
Female
Male
Female
Male
Male
Female
Male
Male
Female
Female
Female
Female
Male
Male
Female
Male
Male
Female
Male
Female
Male
Male
Male
Female
Male
Male
Female
Male
Female
Female
Female
Female
Male
Female
Male
Male
Female
Female
Female
Female
Female
Male
Male
Female
Male
Female
Female
Male
Female
Male
Female
Female
Male
Male
Male
Female
Male
Male
Male
Male
Female
Female
Male
Male
Male
Male
Female
Female
Female
Female
Female
Female
Female
Female
Female
Male
Female
Male
Male
Female
Male
Male
Female
Male
Female
Male
Male
Male
Female
Male
Female
Male
Female
Female
Female
Male
Male
Male
Female
Male
Male
Female
Female
Female
Male
Male
Female
Female
Female
Female
Female
Female
Male
Female
Female
Male
Female
Female
Female
Female
Female
Male
Female
Female
Female
Male
Female
Female
Male
Female
Male
Male
Female
Male
Female
Female
Male
Male
Female
Male
Male
Male
Female
Female
Female
Male
Male
Female
Male
Female
Female
Female
Male
Female
Male
Male
Male
Male
Female
Female
Male
Female
Male
Male
Female
Male
Female
Male
Female
Male
Female
Female
Male
Female
Female
Male
Female
Female
Female
Female
Female
Male
Male
Male
Female
Female
Male
Female
Female
Female
Male
Female
Male
Female
Male
Female
Male
Male
Male
Female
Male
Male
Female
Male
Female
Male
Female
Female
Male
Female
Male
Female
Male
Male
Female
Male
Female
Female
Male
Male
Male
Female
Male
Male
Male
Female
Female
Female
Male
Female
Female
Male
Male
Female
Female
Male
Female
Male
Female
Female
Female
Female
Male
Female
Male
Male
Female
Male
Female
Male
Female
Male
Male
Female
Male
Male
Female
Male
Female
Female
Male
Female
Male
Female

In [31]:
import csv

with open(r"C:\Users\Nandini Sharma\Desktop\data science\User_Data.csv") as f:
    csv_reader =csv.reader(f)
    for line in csv_reader:
        print(line[2])

Age
19
35
26
27
19
27
27
32
25
35
26
26
20
32
18
29
47
45
46
48
45
47
48
45
46
47
49
47
29
31
31
27
21
28
27
35
33
30
26
27
27
33
35
30
28
23
25
27
30
31
24
18
29
35
27
24
23
28
22
32
27
25
23
32
59
24
24
23
22
31
25
24
20
33
32
34
18
22
28
26
30
39
20
35
30
31
24
28
26
35
22
30
26
29
29
35
35
28
35
28
27
28
32
33
19
21
26
27
26
38
39
37
38
37
42
40
35
36
40
41
36
37
40
35
41
39
42
26
30
26
31
33
30
21
28
23
20
30
28
19
19
18
35
30
34
24
27
41
29
20
26
41
31
36
40
31
46
29
26
32
32
25
37
35
33
18
22
35
29
29
21
34
26
34
34
23
35
25
24
31
26
31
32
33
33
31
20
33
35
28
24
19
29
19
28
34
30
20
26
35
35
49
39
41
58
47
55
52
40
46
48
52
59
35
47
60
49
40
46
59
41
35
37
60
35
37
36
56
40
42
35
39
40
49
38
46
40
37
46
53
42
38
50
56
41
51
35
57
41
35
44
37
48
37
50
52
41
40
58
45
35
36
55
35
48
42
40
37
47
40
43
59
60
39
57
57
38
49
52
50
59
35
37
52
48
37
37
48
41
37
39
49
55
37
35
36
42
43
45
46
58
48
37
37
40
42
51
47
36
38
42
39
38
49
39
39
54
35
45
36
52
53
41
48
48
41
41
42
36
47
38
48
42
40
57
36
58
35
38
39
53
35
38
47
47
41
53
54
39
38
38
37
42
37
36
60
54
41
40
42
43
53
47
42
42
59
58
46
38
54
60
60
39
59
37
46
46
42
41
58
42
48
44
49
57
56
49
39
47
48
48
47
45
60
39
46
51
50
36
49

In [32]:
import csv

with open(r"C:\Users\Nandini Sharma\Desktop\data science\User_Data.csv") as f:
    csv_reader =csv.reader(f)
    for line in csv_reader:
        print(line[3])

EstimatedSalary
19000
20000
43000
57000
76000
58000
84000
150000
33000
65000
80000
52000
86000
18000
82000
80000
25000
26000
28000
29000
22000
49000
41000
22000
23000
20000
28000
30000
43000
18000
74000
137000
16000
44000
90000
27000
28000
49000
72000
31000
17000
51000
108000
15000
84000
20000
79000
54000
135000
89000
32000
44000
83000
23000
58000
55000
48000
79000
18000
117000
20000
87000
66000
120000
83000
58000
19000
82000
63000
68000
80000
27000
23000
113000
18000
112000
52000
27000
87000
17000
80000
42000
49000
88000
62000
118000
55000
85000
81000
50000
81000
116000
15000
28000
83000
44000
25000
123000
73000
37000
88000
59000
86000
149000
21000
72000
35000
89000
86000
80000
71000
71000
61000
55000
80000
57000
75000
52000
59000
59000
75000
72000
75000
53000
51000
61000
65000
32000
17000
84000
58000
31000
87000
68000
55000
63000
82000
107000
59000
25000
85000
68000
59000
89000
25000
89000
96000
30000
61000
74000
15000
45000
76000
50000
47000
15000
59000
75000
30000
135000
100000
90000
33000
38000
69000
86000
55000
71000
148000
47000
88000
115000
118000
43000
72000
28000
47000
22000
23000
34000
16000
71000
117000
43000
60000
66000
82000
41000
72000
32000
84000
26000
43000
70000
89000
43000
79000
36000
80000
22000
39000
74000
134000
71000
101000
47000
130000
114000
142000
22000
96000
150000
42000
58000
43000
108000
65000
78000
96000
143000
80000
91000
144000
102000
60000
53000
126000
133000
72000
80000
147000
42000
107000
86000
112000
79000
57000
80000
82000
143000
149000
59000
88000
104000
72000
146000
50000
122000
52000
97000
39000
52000
134000
146000
44000
90000
72000
57000
95000
131000
77000
144000
125000
72000
90000
108000
75000
74000
144000
61000
133000
76000
42000
106000
26000
74000
71000
88000
38000
36000
88000
61000
70000
21000
141000
93000
62000
138000
79000
78000
134000
89000
39000
77000
57000
63000
73000
112000
79000
117000
38000
74000
137000
79000
60000
54000
134000
113000
125000
50000
70000
96000
50000
141000
79000
75000
104000
55000
32000
60000
138000
82000
52000
30000
131000
60000
72000
75000
118000
107000
51000
119000
65000
65000
60000
54000
144000
79000
55000
122000
104000
75000
65000
51000
105000
63000
72000
108000
77000
61000
113000
75000
90000
57000
99000
34000
70000
72000
71000
54000
129000
34000
50000
79000
104000
29000
47000
88000
71000
26000
46000
83000
73000
130000
80000
32000
74000
53000
87000
23000
64000
33000
139000
28000
33000
60000
39000
71000
34000
35000
33000
23000
45000
42000
59000
41000
23000
20000
33000
36000

In [33]:
import csv

with open(r"C:\Users\Nandini Sharma\Desktop\data science\User_Data.csv") as f:
    csv_reader =csv.reader(f)
    for line in csv_reader:
        print(line[4])

Purchased
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
1
1
1
1
1
1
1
1
1
1
1
1
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
1
1
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
1
0
1
0
1
0
1
1
0
0
0
1
0
0
0
1
0
1
1
1
0
0
1
1
0
1
1
0
1
1
0
1
0
0
0
1
1
0
1
1
0
1
0
1
0
1
0
0
1
1
0
1
0
0
1
1
0
1
1
0
1
1
0
0
1
0
0
1
1
1
1
1
0
1
1
1
1
0
1
1
0
1
0
1
0
1
1
1
1
0
0
0
1
1
0
1
1
1
1
1
0
0
0
1
1
0
0
1
0
1
0
1
1
0
1
0
1
1
0
1
1
0
0
0
1
1
0
1
0
0
1
0
1
0
0
1
1
0
0
1
1
0
1
1
0
0
1
0
1
0
1
1
1
0
1
0
1
1
1
0
1
1
1
1
0
1
1
1
0
1
0
1
0
0
1
1
0
1
1
1
1
1
1
0
1
1
1
1
1
1
0
1
1
1
0
1

In [42]:
import csv

fieldnames = ['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased']

row = [['15624510', 'Male', '19', '19000', '0'],
       ['15810944', 'Male', '35', '20000', '0'],
       ['15668575', 'Female', '26', '43000', '0'],
       ['15603246', 'Female', '27', '57000', '0'],
       ['15804002', 'Male', '19', '76000', '0'],
       ['15728773', 'Male', '27', '58000', '0'],
       ['15598044', 'Female', '27', '84000', '0']]

with open('country.csv',mode ='w',newline='') as f:
    csv_writer = csv.writer(f)
    #writer header
    csv_writer.writerow(fieldnames)
    for i in row :
        csv_writer.writerow(i)
    #write the data
    #csv_writer.writerow(row)

In [43]:
import csv

fieldnames = ['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased']

row = [['15624510', 'Male', '19', '19000', '0'],
       ['15810944', 'Male', '35', '20000', '0'],
       ['15668575', 'Female', '26', '43000', '0'],
       ['15603246', 'Female', '27', '57000', '0'],
       ['15804002', 'Male', '19', '76000', '0'],
       ['15728773', 'Male', '27', '58000', '0'],
       ['15598044', 'Female', '27', '84000', '0']]

with open('country1.csv',mode ='w',newline='') as f:
    csv_writer = csv.writer(f)
    #writer header
    csv_writer.writerow(fieldnames)
   # for i in row :
     #   csv_writer.writerow(i)
    #write the data
    csv_writer.writerows(row)

#gender and avg salary

In [45]:
import csv

fieldnames = [ 'Gender','avg_salary']

row = [[ 'Male', '67642.86'],
       [ 'feMale', '71759.8' ]
       ]

with open('country.csv',mode ='w',newline='') as f:
    csv_writer = csv.writer(f)
    #writer header
    csv_writer.writerow(fieldnames)
    for i in row :
        csv_writer.writerow(i)
    #write the data
    #csv_writer.writerow(row)

# using dictwriter

# {key:value}

In [51]:
import csv

#csv header
fieldnames = ['name','area','country_code2','country_code3']

#csv data
rows=[
    {'name':'kavita','area':28748,'country_code2':'AL','country_code3':'ALB'},
    {'name':'rafi','area':269748,'country_code2':'ALk','country_code3':'AbLB'},
    {'name':'Anzil','area':28748,'country_code2':'ALz','country_code3':'AzLB'}
]
with open('countries.csv','w',encoding='UTF8',newline='') as f:
    writer =csv.DictWriter(f,fieldnames = fieldnames)
    writer.writeheader()
    writer.writerows(rows)

# Exceptional handling

In [ ]:
two types of error 
1) syntax error
2) exceptional error 

eg: typeerror,name Error ,valueError

In [4]:
a = 10
b = 0

try:
    c = a/b
    print(c)
except:
    print('given a another number to b')
print(a+b)

given a another number to b
10

In [8]:
#f = open('kavita.csv','r')
#f.write('ssssssjjhkk')

try:
    f=open('kavita.csv','r')
    f.write('yyyuiio')
except IOError:
    #this will only check for an IOError exception and then execute this print statement 
    print('erroor: could not find file or read data ')
except TypeError:
    #this will only check for an IOError exception and then execute this print statement 
    print('erroor: could not find file or read data ')
else:
    #no exception
    print('succesful ')
    f.close()

erroor: could not find file or read data

In [9]:
#f = open('kavita.csv','r')
#f.write('ssssssjjhkk')

try:
    f=open('kavita.csv','w')
    f.write('yyyuiio')
except IOError:
    #this will only check for an IOError exception and then execute this print statement 
    print('erroor: could not find file or read data ')
except TypeError:
    #this will only check for an IOError exception and then execute this print statement 
    print('erroor: could not find file or read data ')
else:
    #no exception
    print('succesful ')
    f.close()

succesful

In [12]:
#f = open('kavita.csv','r')
#f.write('ssssssjjhkk')

try:
    f=open('kavita.csv','w')
    f.read('yyyuiio')
except IOError:
    #this will only check for an IOError exception and then execute this print statement 
    print('erroor: could not find file or read data ')
except TypeError:
    #this will only check for an IOError exception and then execute this print statement 
    print('erroor: could not find file or read data ')
else:
    #no exception
    print('succesful ')
    f.close()

erroor: could not find file or read data

In [14]:
f = open('kavita.csv','w')
f.write('ssssssjjhkk')

try:
    f=open('kavita.csv','r')
    f.write('yyyuiio')
except IOError:
    #this will only check for an IOError exception and then execute this print statement 
    print('erroor: could not find file or read data ')
except TypeError:
    #this will only check for an IOError exception and then execute this print statement 
    print('erroor: could not find file or read data ')
else:
    #no exception
    print('succesful ')
    f.close()

erroor: could not find file or read data

In [15]:
try:
    f = open('testfile','r')
    f.write('test write this')
except Exception as e:
    #this will check for any exception and the excute this print statement 
    print(e)
else:
    print('content succesfuly ')
    f.close()

[Errno 2] No such file or directory: 'testfile'

In [17]:
try:
    f = open('kavita','w')
    f.write('test write this')
except Exception as e:
    #this will check for any exception and the excute this print statement 
    print(e)
else:
    print('content succesfuly ')
    f.close()

content succesfuly

In [18]:
try:
    f = open('kavita','r')
    f.write('test write this')
except Exception as e:
    #this will check for any exception and the excute this print statement 
    print(e)
else:
    print('content succesfuly ')
    f.close()

not writable

In [21]:
try:
    f=open('textfile','r')
    f.write('test write this')
except :
    print('error')
finally:
    print('always execute finally code blocks')

error
always execute finally code blocks

In [22]:
def askint():
    try:
        val=int(input('enter the number:'))
    except:
        print('looks number is not enter')
    finally:
        print('finally ,i excecuted')
    print(val)

In [23]:
askint()

enter the number:10
finally ,i excecuted
10

In [24]:
def askint():
    try:
        val=int(input('enter the number:'))
    except:
        print('looks number is not enter')
    finally:
        print('finally ,i excecuted')
    #print(val)
askint()

enter the number:0
finally ,i excecuted

In [25]:
def askint():
    try:
        val=int(input('enter the number:'))
    except:
        print('looks number is not enter')
    finally:
        print('finally ,i excecuted')
    #print(val)
askint()

enter the number:o
looks number is not enter
finally ,i excecuted

In [26]:
def askint():
    try:
        val=int(input('enter the number:'))
    except:
        print('looks number is not enter')
    finally:
        print('finally ,i excecuted')
    print(val)
askint()

enter the number:o
looks number is not enter
finally ,i excecuted

UnboundLocalError: cannot access local variable 'val' where it is not associated with a value

In [44]:
#program to handle multiple error with one #except ststement #python3

def fun(a):
    if a<4:
        b=a/(a-3)
        print("value of b = ",b)

In [57]:
try:
    fun(2)
    
except (ZeroDivisionError,UnboundLocalError,TypeError):
    
    print(error)

value of b =  -2.0

In [58]:
try:
    fun('a')
    
except (ZeroDivisionError,UnboundLocalError,TypeError):
    print('error')

error

In [1]:
try:
    fun(2)
    fun('a')
    
#not that braces () are necessary for 
#multiple exceptions

SyntaxError: incomplete input (2558676214.py, line 6)

# Pandas

In [5]:
import plotly

In [6]:
import pandas

In [8]:
import pandas as pd

In [9]:
s=[10,20,30,40,50,60,33,44,55,]

In [10]:
type(s)

list

In [13]:
#we have to convert above list in series 
ser = pd.Series(s)

In [14]:
type(ser)

pandas.core.series.Series

In [16]:
ser = pd.Series(s)
print(type(ser[0]))

<class 'numpy.int64'>

In [17]:
ser.name

In [18]:
type(ser)

pandas.core.series.Series

In [20]:
st_int = pd.Series(s,dtype ='int32',name='age')
st_int

0    10
1    20
2    30
3    40
4    50
5    60
6    33
7    44
8    55
Name: age, dtype: int32

In [21]:
st_int = pd.Series(s,dtype ='int32',name='age')
sum(st_int)

342

In [22]:
st_int.mean()

38.0

In [25]:
st_int = pd.Series(s,dtype ='float',name='age')
sum(st_int)

342.0

In [26]:
st_int = pd.Series(s,dtype ='float64',name='age')
(st_int)

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
5    60.0
6    33.0
7    44.0
8    55.0
Name: age, dtype: float64

In [27]:
st_int = pd.Series(s,dtype ='complex',name='age')
(st_int)

0    10.0+0.0j
1    20.0+0.0j
2    30.0+0.0j
3    40.0+0.0j
4    50.0+0.0j
5    60.0+0.0j
6    33.0+0.0j
7    44.0+0.0j
8    55.0+0.0j
Name: age, dtype: complex128

In [28]:
st_int = pd.Series(s,dtype ='string',name='age')
(st_int)

0    10
1    20
2    30
3    40
4    50
5    60
6    33
7    44
8    55
Name: age, dtype: string

In [29]:
st_int = pd.Series(s,dtype ='object',name='age')
(st_int)

0    10
1    20
2    30
3    40
4    50
5    60
6    33
7    44
8    55
Name: age, dtype: object

In [30]:
ser.head()

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [31]:
ser.head(4)

0    10
1    20
2    30
3    40
dtype: int64

In [32]:
ser.head(10)

0    10
1    20
2    30
3    40
4    50
5    60
6    33
7    44
8    55
dtype: int64

In [33]:
ser.tail()

4    50
5    60
6    33
7    44
8    55
dtype: int64

In [34]:
ser.tail(2)

7    44
8    55
dtype: int64

In [35]:
ser.tail(10)

0    10
1    20
2    30
3    40
4    50
5    60
6    33
7    44
8    55
dtype: int64

In [36]:
ser[-4:-1]

5    60
6    33
7    44
dtype: int64

In [37]:
ser[-1:]

8    55
dtype: int64

In [42]:
ser[-1:] = 7

In [43]:
ser

0    10
1    20
2    30
3    40
4    50
5    60
6    33
7    44
8     7
dtype: object

In [44]:
ser = pd.Series(s,name ='age',index =['a','b','c','d','e','f','g','h','i'],dtype='float32')

In [45]:
ser

a    10.0
b    20.0
c    30.0
d    40.0
e    50.0
f    60.0
g    33.0
h    44.0
i    55.0
Name: age, dtype: float32

In [46]:
ser['a':'c']

a    10.0
b    20.0
c    30.0
Name: age, dtype: float32

In [47]:
weight =[50,40,60,70,90,40,50,30,60]
weight_ser =pd.Series(weight, name='weight',index = ['a','b','c','d','e','f','g','h','i'])
weight_ser

a    50
b    40
c    60
d    70
e    90
f    40
g    50
h    30
i    60
Name: weight, dtype: int64

In [48]:
ser + weight_ser

a     60.0
b     60.0
c     90.0
d    110.0
e    140.0
f    100.0
g     83.0
h     74.0
i    115.0
dtype: float64

In [49]:
ser ,weight_ser

(a    10.0
 b    20.0
 c    30.0
 d    40.0
 e    50.0
 f    60.0
 g    33.0
 h    44.0
 i    55.0
 Name: age, dtype: float32,
 a    50
 b    40
 c    60
 d    70
 e    90
 f    40
 g    50
 h    30
 i    60
 Name: weight, dtype: int64)

In [50]:
ser - weight_ser

a   -40.0
b   -20.0
c   -30.0
d   -30.0
e   -40.0
f    20.0
g   -17.0
h    14.0
i    -5.0
dtype: float64

In [51]:
ser * weight_ser

a     500.0
b     800.0
c    1800.0
d    2800.0
e    4500.0
f    2400.0
g    1650.0
h    1320.0
i    3300.0
dtype: float64

In [53]:
ser / weight_ser

a    0.200000
b    0.500000
c    0.500000
d    0.571429
e    0.555556
f    1.500000
g    0.660000
h    1.466667
i    0.916667
dtype: float64

# Logical Operators(|,^,-)

In [54]:
#ser and weight_ser
#ser^weight_ser

In [55]:
weight_ser.a

50

In [57]:
weight_ser.abs

<bound method NDFrame.abs of a    50
b    40
c    60
d    70
e    90
f    40
g    50
h    30
i    60
Name: weight, dtype: int64>

In [58]:
weight_grt_50=weight_ser[weight_ser > 50].count()

In [59]:
weight_grt_50

4

In [60]:
round(ser.mean())

38

In [61]:
ser.mean()

38.0

In [62]:
t = ser.mode()

In [63]:
t[0]

10.0

In [64]:
ser.mean(),ser.median()

(38.0, 40.0)

In [65]:
#checking mean ,mode aand median are equal or not 
ser.mean() == ser.median()==ser.mode()

False

In [67]:
#checking mean ,mode aand median are equal or not 
ser.mean() != ser.median() != ser.mode()

0     True
1     True
2     True
3     True
4    False
5     True
6     True
7     True
8     True
Name: age, dtype: bool

In [68]:
ser.corr(weight_ser)

0.189345469230941

In [69]:
print(ser.std())
print(weight_ser.std())

16.408838272094727
18.10463415200036

In [71]:
ser.astype(dtype ='string')

a    10.0
b    20.0
c    30.0
d    40.0
e    50.0
f    60.0
g    33.0
h    44.0
i    55.0
Name: age, dtype: string

In [74]:
print(sum(ser))

342.0

In [76]:
print(sum(ser))
print(ser.cumsum())

342.0
a     10.0
b     30.0
c     60.0
d    100.0
e    150.0
f    210.0
g    243.0
h    287.0
i    342.0
Name: age, dtype: float32

In [77]:
ser.sum()

342.0

In [78]:
ser.cummax()

a    10.0
b    20.0
c    30.0
d    40.0
e    50.0
f    60.0
g    60.0
h    60.0
i    60.0
Name: age, dtype: float32

In [79]:
ser.cummin()s

a    10.0
b    10.0
c    10.0
d    10.0
e    10.0
f    10.0
g    10.0
h    10.0
i    10.0
Name: age, dtype: float32

In [81]:
ser.min()

10.0

In [82]:
ser.max()

60.0

# Dataframe

In [83]:
data ={
    'name':['braund,mr.owen Harris',
            'allen,mr.william henry',
            'bonnell,miss.Elizabeth',
            'rajesh,mr.owen Harris',
            'Anish,mr.william henry',
            'asif,miss.Elizabeth'],
    'age':[22,35,58,50,0,0],
    'sex':['male','male','female','male','male','female'],
    'education':['BE','Btech','MBS','BE','MBA','MBA']
}

In [84]:
type(data)

dict

In [85]:
df = pd.DataFrame(data)
type(df)

pandas.core.frame.DataFrame

In [88]:
df.rename(columns={'name':'student_name','sex':'gender'},inplace = True)
print(df)

             student_name  age  gender education
0   braund,mr.owen Harris   22    male        BE
1  allen,mr.william henry   35    male     Btech
2  bonnell,miss.Elizabeth   58  female       MBS
3   rajesh,mr.owen Harris   50    male        BE
4  Anish,mr.william henry    0    male       MBA
5     asif,miss.Elizabeth    0  female       MBA

In [89]:
df['gender'],df.gender

(0      male
 1      male
 2    female
 3      male
 4      male
 5    female
 Name: gender, dtype: object,
 0      male
 1      male
 2    female
 3      male
 4      male
 5    female
 Name: gender, dtype: object)

In [91]:
type(df['gender']),df.gender

(pandas.core.series.Series,
 0      male
 1      male
 2    female
 3      male
 4      male
 5    female
 Name: gender, dtype: object)

In [92]:
type(df.student_name)

pandas.core.series.Series

In [93]:
df.gender == 'male'

0     True
1     True
2    False
3     True
4     True
5    False
Name: gender, dtype: bool

In [94]:
df[df.gender == 'male']

             student_name  age gender education
0   braund,mr.owen Harris   22   male        BE
1  allen,mr.william henry   35   male     Btech
3   rajesh,mr.owen Harris   50   male        BE
4  Anish,mr.william henry    0   male       MBA

In [99]:
df_male = df[df.gender == 'male']
df_male['age'].mean()

26.75

In [100]:
df_female = df[df.gender == 'female']
df_female['age'].mean()

29.0

In [101]:
df[(df['gender']=='male')&(df['age']>30)]

             student_name  age gender education
1  allen,mr.william henry   35   male     Btech
3   rajesh,mr.owen Harris   50   male        BE

In [102]:
age_female_30 =df[(df['gender'] == 'female')&(df['age']>30)]

In [103]:
age_female_30

             student_name  age  gender education
2  bonnell,miss.Elizabeth   58  female       MBS

In [104]:
df

             student_name  age  gender education
0   braund,mr.owen Harris   22    male        BE
1  allen,mr.william henry   35    male     Btech
2  bonnell,miss.Elizabeth   58  female       MBS
3   rajesh,mr.owen Harris   50    male        BE
4  Anish,mr.william henry    0    male       MBA
5     asif,miss.Elizabeth    0  female       MBA

In [105]:
df['gender'].value_counts()

gender
male      4
female    2
Name: count, dtype: int64

In [107]:
df['education'].value_counts()

education
BE       2
MBA      2
Btech    1
MBS      1
Name: count, dtype: int64

In [108]:
df.isna().sum()

student_name    0
age             0
gender          0
education       0
dtype: int64

In [109]:
data1 = pd.DataFrame(data,columns=['students','age'])
data1

  students  age
0      NaN   22
1      NaN   35
2      NaN   58
3      NaN   50
4      NaN    0
5      NaN    0

In [110]:
data1.isna().sum()

students    6
age         0
dtype: int64

In [112]:
df[['education','age']]

  education  age
0        BE   22
1     Btech   35
2       MBS   58
3        BE   50
4       MBA    0
5       MBA    0

In [118]:
df.loc[0:4][['education','gender','age']]

  education  gender  age
0        BE    male   22
1     Btech    male   35
2       MBS  female   58
3        BE    male   50
4       MBA    male    0

In [119]:
df.loc[0:3][['student_name','age']]

             student_name  age
0   braund,mr.owen Harris   22
1  allen,mr.william henry   35
2  bonnell,miss.Elizabeth   58
3   rajesh,mr.owen Harris   50

In [120]:
st_name = df.loc[0:3][['student_name']]
st_strng =st_name.astype(dtype ='string')

In [124]:
st_name

             student_name
0   braund,mr.owen Harris
1  allen,mr.william henry
2  bonnell,miss.Elizabeth
3   rajesh,mr.owen Harris

In [ ]:
st_name = df.loc[0:3][['student_name']]
st_strng =st_name.astype(dtype ='string')

str(df['student_name']).split

In [126]:
df.iloc[0::3,1]

0    22
3    50
Name: age, dtype: int64

In [127]:
data1.dropna()

Empty DataFrame
Columns: [students, age]
Index: []

In [128]:
data1.dropna(axis=0) #delete rowwise

Empty DataFrame
Columns: [students, age]
Index: []

In [129]:
data1.dropna(axis=1) #delete columnwise

   age
0   22
1   35
2   58
3   50
4    0
5    0